<div class="modal-dialog modal-xl">
  <%= form_for(@mail_blacklist, url: mail_blacklist_path(@mail_blacklist), remote: true) do |f| -%>
    <div class="modal-content">
      <div class="modal-header">
        <h1><%= MailBlacklist.model_name.human %> <%= t('edit') %></h1>
      </div>
      <div class="modal-body">
        <%= render(partial: 'form', locals: { form: f, mail_blacklist: @mail_blacklist }) %>
      </div>
      <div class="modal-footer">
        <%= f.submit t('action.save'), class: 'btn btn-primary offset-3 col-2' %>
        <%= f.submit t('action.save_and_close'), name: :save_and_close, class: 'btn btn-primary offset-1 col-2' %>
        <%= f.submit t('action.abort'), type: :reset, class: 'btn btn-secondary offset-1 col-2',
              'data-bs-dismiss': :modal %>
      </div>
    </div>
  <% end %>
</div>
