<h1><%= MailBlacklist.model_name.human count: 2 %></h1>

<%= paginate @mail_blacklists %>

<table class="table">
  <thead>
    <tr>
      <% %w[id pattern source created_at].each do |col| %>
        <th scope="col">
          <%= order_link MailBlacklist.human_attribute_name(col), :mail_blacklists, col %>
        </th>
      <% end -%>
      <th scope="col"><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @mail_blacklists.each do |mail_blacklist| -%>
      <tr class="<%= 'text-muted' unless mail_blacklist.active? %>">
        <th scope="row"><%= mail_blacklist.id %></th>
        <td><%= mail_blacklist.pattern %></td>
        <td><%= mail_blacklist.source %></td>
        <td><%= l mail_blacklist.created_at %></td>
        <td>
          <%= link_to tag.i('', class: 'fa fa-pencil'), edit_mail_blacklist_path(mail_blacklist),
                remote: true, class: 'btn btn-sm btn-outline-primary' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @mail_blacklists %>

<% content_for :footer do %>
  <div class="float-end">
    <%= link_to t('.new_mail_blacklist'), new_mail_blacklist_path, remote: true, class: 'btn btn-primary' %>
  </div>
<% end %>
