<div class="modal-dialog modal-xl">
  <% opts = { url: issue_path(@issue), remote: true,
              html: { data: { dependencies: data_dependencies_path, changed: false } } } %>
  <%= form_for @issue, opts do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="modal-content">
      <div class="modal-header">
        <h1><%= Issue.model_name.human %> <%= t 'edit' %></h1>
        <% unless @issue.new_record? -%>
          <div class="col text-end">
            <%= link_to tag.i(class: 'fa fa-envelope btn btn-outline-secondary'),
                  new_issue_issue_email_path(@issue), remote: true, title: t('.send_as_email') %>
            <%= link_to tag.i(class: 'fa fa-share btn btn-outline-secondary'),
                  issue_issue_email_path(@issue),
                  id: :issue_email_direct, title: t('.send_email_from_own_client') %>
            <%= link_to tag.i(class: 'fa fa-print btn btn-outline-secondary'),
                  issue_exports_path(@issue),
                  target: :_blank, id: :issue_export, title: t(:create_pdf_with_issue_data), rel: :noopener %>
            <% if authorized?(:resend_responsibility, @issue) -%>
              <%= link_to tag.i(class: 'fa fa-paper-plane btn btn-primary'),
                    issue_resend_responsibility_path(@issue),
                    remote: true,
                    title: t('.send_email_again'),
                    data: { confirm: t('.confirm_send_email_again') } %>
            <% end -%>
          </div>
          <div id="print-map" class="print-map"
            data-lat="<%= @issue.position&.y %>"
            data-lon="<%= @issue.position&.x %>"
            data-icon="<%= asset_path(@issue.map_icon) %>">
          </div>
        <% end -%>
      </div>
      <div class="modal-body no-padding">
        <%= render(partial: 'form', locals: { form: f, issue: @issue }) %>
      </div>
      <div class="modal-footer">
        <%= hidden_field_tag :tab, @tab %>
        <%= f.submit t('action.save'), class: 'btn btn-primary offset-3 col-2' %>
        <%= f.submit t('action.save_and_close'), name: :save_and_close, class: 'btn btn-primary offset-1 col-2' %>
        <%= f.submit t('action.abort'), type: :reset, class: 'btn btn-secondary offset-1 col-2',
              'data-bs-dismiss': :modal %>
      </div>
    </div>
  <% end %>
</div>
