<%= form_with(url: issues_path,
      method: :get, id: 'issues-filter', data: { dependencies: data_dependencies_path }) do |form| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :extended_filter, true %>
  <div class="row">
    <%= label_tag :filter_text, t('.free_text'), class: 'col-2 col-form-label' %>
    <div class="col-9">
      <%= text_field_tag 'filter[text]', @filter[:text], class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <%= label_tag :filter_responsibility, Issue.human_attribute_name(:responsibility),
          class: 'col-2 col-form-label' %>
    <div class="col-4">
      <%= select_tag 'filter[responsibility]', options_for_select(responsibilities, @filter[:responsibility]),
            include_blank: '', class: 'form-select' %>
    </div>
    <%= label_tag :filter_kind, Issue.human_attribute_name(:kind), class: 'col-2 col-form-label' %>
    <div class="col-4">
      <%= select_tag 'filter[kind]', options_for_select(kinds, @filter[:kind]), class: 'form-select' %>
    </div>
  </div>
  <div class="row">
    <%= label_tag :filter_delegation, Issue.human_attribute_name(:delegation), class: 'col-2 col-form-label' %>
    <div class="col-4">
      <%= select_tag 'filter[delegation]', options_for_select(delegations, @filter[:delegation]),
            include_blank: '', class: 'form-select' %>
    </div>
    <%= label_tag :filter_main_category, t('.main_category'), class: 'col-2 col-form-label' %>
    <div class="col-4">
      <%= select_tag 'filter[main_category]',
            options_for_select(main_categories(@filter[:kind]), @filter[:main_category]),
            class: 'form-select', disabled: @filter[:kind].blank? %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <%= label_tag :filter_statuses, Issue.human_attribute_name(:status), class: 'col-4 col-form-label' %>
        <div class="col-8">
          <div class="row mb-2">
            <% Issue.statuses.each do |name, id| -%>
              <%= label_tag "statuses_#{name}", class: 'col-12 col-form-label' do %>
                <%= check_box_tag 'filter[statuses][]', id, id.in?(@filter[:statuses].map(&:to_i)),
                      id: "statuses_#{name}" %>
                <%= t("enums.issue.status.#{name}") %>
              <% end -%>
            <% end -%>
          </div>
        </div>
        <div class="row">
          <%= label_tag :filter_archived, Issue.human_attribute_name(:archived), class: 'col-4 col-form-label' %>
          <div class="col-8">
            <%= select_tag 'filter[archived]', options_for_select(archived_options, @filter[:archived]),
                  include_blank: '', class: 'form-select' %>
          </div>
        </div>
        <div class="row">
          <%= label_tag :filter_number, Issue.human_attribute_name(:id), class: 'col-4 col-form-label' %>
          <div class="col-8">
            <%= text_field_tag 'filter[number]', @filter[:number], class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <%= label_tag :filter_author, Issue.human_attribute_name(:author), class: 'col-4 col-form-label' %>
          <div class="col-8">
            <%= text_field_tag 'filter[author]', @filter[:author], class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <%= label_tag :filter_sub_category, t('.sub_category'), class: 'col-4 col-form-label' %>
        <div class="col-8">
          <%= select_tag 'filter[sub_category]',
                options_for_select(sub_categories(@filter[:main_category]), @filter[:sub_category]),
                class: 'form-select', disabled: @filter[:main_category].blank? %>
        </div>
      </div>
      <div class="row">
        <%= label_tag :filter_begin_at, t('.creation'), class: 'col-4 col-form-label' %>
        <%= label_tag :filter_begin_at, t(:from), class: 'col-1 col-form-label' %>
        <div class="col-3">
          <%= text_field_tag 'filter[begin_at]', @filter[:begin_at], class: 'form-control datepicker' %>
        </div>
        <%= label_tag :filter_end_at, t(:to), class: 'col-1 col-form-label' %>
        <div class="col-3">
          <%= text_field_tag 'filter[end_at]', @filter[:end_at], class: 'form-control datepicker' %>
        </div>
      </div>
      <div class="row">
        <%= label_tag :supporters, Issue.human_attribute_name(:supporters), class: 'col-4 col-form-label' %>
        <%= label_tag :filter_supported, class: 'col-8 col-form-label' do %>
          <%= check_box_tag 'filter[supported]', true, @filter[:supported] == 'true' %> mindestens 20
        <% end -%>
      </div>
      <div class="row">
        <%= label_tag :filter_priority, Issue.human_attribute_name(:priority), class: 'col-4 col-form-label' %>
        <div class="col-8">
          <%= select_tag 'filter[priority]', options_for_select(priorities, @filter[:priority]),
                include_blank: '', class: 'form-select' %>
        </div>
      </div>
      <div class="row">
        <%= label_tag :filter_updated_by_user, Issue.human_attribute_name(:updated_by_user),
              class: 'col-4 col-form-label' %>
        <div class="col-8">
          <%= select_tag 'filter[updated_by_user]',
                options_for_select(users.map { |u| [u.to_s, u.id] }, @filter[:updated_by_user]),
                include_blank: '', class: 'form-select' %>
        </div>
      </div>
      <div class="row">
        <%= label_tag :filter_districts, District.model_name.human, class: 'col-4 col-form-label' %>
        <div class="col-8">
          <%= form.multiselect_filter_field 'districts', filter_ids: @filter[:districts],
                class: 'form-control', 'data-autocomplete-url': districts_path,
                columns: 'name', object: District %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12"><%= submit_tag t(:search), class: 'btn btn-primary float-end' %></div>
  </div>
<% end -%>
