<% if issue.errors.any? %>
  <div class="alert alert-danger">
    <ul class="list-unstyled mb-0">
      <% issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless issue.new_record? %>
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs mt-2">
      <% %i[overview comment abuse_report map photo log_entry].each do |tab| %>
        <%= content_tag(:li, 
              link_to(t(".tab.#{ tab }"), edit_issue_path(issue, tab: tab), remote: true, class: "nav-link #{ 'active' if tab == @tab }"),
            class: 'nav-item') %>
      <% end -%>
    </ul>
  </div>
  <div class="card-body">
    <%= render partial: "tab_#{ @tab }", locals: { form: form } %>
  </div>
<% else %>
  <%= render partial: "tab_overview", locals: { form: form } %>
  <%= render partial: "tab_map", locals: { form: form } %>
<% end %>

