<div class="row">
  <div class="col-auto">
    <%= image_tag issue.list_icon, class: "status-icon #{issue.status}",
                                   title: kind_and_status_tooltip(issue) %>
    <%= tag.i class: 'fa fa-archive', title: Issue.human_attribute_name(:archived) if issue.archived %>
  </div>
  <div class="col-auto" title="<%= Issue.human_attribute_name(:id) %>">
    <%= issue.id %>
  </div>
  <div class="col-auto" title="<%= Issue.human_attribute_name(:created_at) %>">
    <%= l(issue.created_at.to_date) %>
  </div>
  <div class="col-auto" title="<%= Category.human_attribute_name(:main_category) %>">
    <%= issue.main_category %>
  </div>
  <div class="col-auto" title="<%= Category.human_attribute_name(:sub_category) %>">
    <%= issue.sub_category %>
  </div>
  <div class="col-auto">
    <span title="<%= "#{Issue.human_attribute_name(:group)}: #{issue.group.name}" %>"><%= issue.group %></span>
    <% if issue.responsibility_accepted -%>
      <i class="fa fa-check-square-o text-success"
         title="<%= Issue.human_attribute_name(:responsibility_accepted) %>"
         aria-hidden="true"></i>
      <% if issue.delegation.present? -%>
        (<span title="<%= delegation_tooltip(issue) %>">
           <i class="fa fa-long-arrow-right" aria-hidden="true"></i> <%= issue.delegation %>
         </span>)
      <% end -%>
    <% else -%>
      <i class="fa fa-times-circle-o text-warning"
         title="<%= Issue.human_attribute_name(:responsibility_not_accepted) %>"
         aria-hidden="true"></i>
    <% end -%>
  </div>
  <% if issue.abuse_reports.present? -%>
    <div class="col-auto" title="<%= t('.abuse_reports', count: issue.abuse_reports.count) %>">
      <%= tag.span class: 'fa fa-exclamation-circle' %>
    </div>
  <% end -%>
  <div class="col-auto">
    <%= Issue.human_attribute_name(:description) %>
    <%= tag.span class: "fa fa-#{status_symbol(issue.description_status)}",
          title: Issue.human_enum_name(:description_status, issue.description_status) %>
  </div>
  <% if issue.photos.present? %>
    <div class="col-auto">
      <%= Issue.human_attribute_name(:photo) %>
      <% issue.photos.map(&:status).uniq.each do |status| -%>
        <%= tag.span class: "fa fa-#{status_symbol(status)}", title: Photo.human_enum_name(:status, status) %>
      <% end -%>
    </div>
  <% end -%>
  <% if issue.priority.to_sym == :high %>
    <div class="col-auto">
      <%= Issue.human_attribute_name(:priority) %>
      <%= Issue.human_enum_name(:priority, issue.priority) %>
    </div>
  <% end -%>
  <div class="col text-end">
    <%= link_to tag.i(class: 'fa fa-envelope btn btn-outline-secondary'),
          new_issue_issue_email_path(issue), remote: true,
                                             title: 'Daten der Meldung als E-Mail versenden' %>
    <%= link_to tag.i(class: 'fa fa-share btn btn-outline-secondary'),
          issue_issue_email_path(issue), id: :issue_email_direct,
                                         title: 'Daten der Meldung als E-Mail aus eigenem E-Mail-Client versenden' %>
    <%= link_to tag.i(class: 'fa fa-print btn btn-outline-secondary'),
          issue_issue_exports_path(issue), target: :_blank, id: :issue_export,
                                           title: 'Daten der Meldung drucken', rel: :noopener %>
  </div>
  <div id="print-map" class="print-map"
    data-lat="<%= issue.position&.y %>"
    data-lon="<%= issue.position&.x %>"
    data-icon="<%= asset_path(issue.map_icon) %>"></div>
</div>

