<span id="issues-footer">
  <%= link_to t('.rss'), issues_rss_path(user_uuid: Current.user.uuid, format: :xml), class: 'btn btn-primary' %>
  <%= link_to t('.map'), issues_path(filter: @filter, extended_filter: @extended_filter, show_map: true),
        class: 'btn btn-primary' %>
  <%= link_to t(:export_xlsx), issues_path(filter: @filter, extended_filter: @extended_filter, format: :xlsx),
        class: 'btn btn-primary' %>
  <%= button_tag t('.assign_jobs'), id: 'assign-jobs', type: 'button', class: 'btn btn-primary' if authorized?(:jobs) %>
  <% if authorized?(:create_issue) -%>
    <div class="float-end">
      <%= link_to t('.new_issue'), new_issue_path, remote: true, class: 'btn btn-primary' %>
    </div>
  <% end -%>
</span>
