<div id="job-modal" class="modal hide" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(assign_jobs_path, method: :post, remote: true, id: 'job-assignment-form') do %>
        <div class="modal-header">
          <h1><%= t('.assign_job') %></h1>
        </div>
        <div class="modal-body">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="row">
            <%= label_tag :group_id, Job.human_attribute_name(:group), class: 'col-4 col-form-label' %>
            <div class="col-8">
              <%= select_tag :group_id, options_for_select(field_service_teams),
                    include_blank: '', class: 'form-select' %>
            </div>
          </div>
          <div class="row">
            <%= label_tag :date, Job.human_attribute_name(:date), class: 'col-4 col-form-label' %>
            <div class="col-8">
              <%= text_field_tag :date, nil, class: 'form-control datepicker' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="float-end">
            <%= submit_tag t('action.save'), class: 'btn btn-primary' %>
            <%= submit_tag t('action.abort'), type: :reset, class: 'btn btn-secondary', 'data-bs-dismiss': :modal %>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>
