<% if form.object.reviewed_at.present? -%>
  <div class="form-group row">
    <%= form.label :group, for: :issue_group_id, class: 'col-md-2 col-form-label' %>
    <div class="col-md-4">
      <label class="col-form-label">
        <%= t '.current_responsibility' %> <%= form.object.group %>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4 offset-2">
      <div class="form-check form-check-inline">
        <%= form.label :responsibility_action_accept, '', class: 'form-check-label' do %>
          <%= form.radio_button :responsibility_action, :accept, disabled: form.object.closed? %>
          <%= t '.responsibility_action_accept' %>
        <% end %>
      </div>
    </div>
  </div>
<% end -%>
<div class="form-group row">
  <% if form.object.reviewed_at.blank? -%>
    <%= form.label :group, for: :issue_group_id, class: 'col-md-2 col-form-label' %>
  <% end -%>
  <div class="col-md-4 <%= 'offset-2' if form.object.reviewed_at.present? %>">
    <div class="form-check form-check-inline">
      <%= form.label :responsibility_action_manual, '', class: 'form-check-label' do %>
        <%= form.radio_button :responsibility_action, :manual, disabled: form.object.closed? %>
        <%= t '.responsibility_action_manual' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4" id="manual-responsibility"
       style="display: <%= form.object.responsibility_action&.to_sym == :manual ? 'inline' : 'none' %>;">
    <%= form.select :group_id, options_for_select(responsibilities(form.object), form.object.group_id),
          { include_blank: true }, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-4 offset-2">
    <div class="form-check form-check-inline">
      <%= form.label :responsibility_action_recalculation, '', class: 'form-check-label' do %>
        <%= form.radio_button :responsibility_action, :recalculation, disabled: form.object.closed? %>
        <%= t ".responsibility_action_recalculation#{'_review' if form.object.reviewed_at.blank?}" %>
        <%= form.object.group if form.object.reviewed_at.blank? %>
      <% end %>
    </div>
  </div>
</div>
