<div id="issues">
  <%= paginate @issues %>

  <table class="table">
    <thead>
      <tr>
        <% if authorized?(:jobs) -%>
          <th><input type="checkbox" class="select-all"></th>
        <% end -%>
        <% %w[id created_at category status address supporter group updated_at].each do |col| %>
          <th scope="col">
            <%= order_link Issue.human_attribute_name(col), :issues, col %>
          </th>
        <% end -%>
        <th scope="col">
          <%= order_link Issue.human_attribute_name(:last_editor), :issues, :last_editor %>
        </th>
        <th scope="col">
          <%= order_link Issue.human_attribute_name(:priority), :issues, :priority %>
        </th>
        <% if authorized?(:jobs) -%>
          <th scope="col">
            <%= order_link Issue.human_attribute_name(:job), :issues, :job %>
          </th>
        <% end -%>
        <th scope="col"><%= t 'actions' %></th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| -%>
        <tr class="<%= 'text-muted' if issue.archived_at.present? %>
          <%= 'bg-info text-white' if issue.completions.status_open.any? %>
          <%= 'bg-warning text-white' if open_abuse_reports(issue).any? %>">
          <% if authorized?(:jobs) -%>
            <td><%= check_box_tag :issue_id, issue.id, false, class: 'selectable' %></td>
          <% end -%>
          <td><%= issue.id %></td>
          <td><%= l(issue.created_at, format: :no_seconds) %></td>
          <td><%= issue.sub_category %></td>
          <td>
            <%= image_tag issue.list_icon, class: "status-icon #{issue.status}",
                  title: Issue.human_enum_name(:status, issue.status) %>
            <%= tag.i class: 'fa fa-archive', title: Issue.human_attribute_name(:archived) if issue.archived %>
          </td>
          <td><%= issue.address %></td>
          <td><%= issue.supporters.count %></td>
          <td>
            <span title="<%= "#{Issue.human_attribute_name(:group)}: #{issue.group.name}" %>"><%= issue.group %></span>
            <% if issue.responsibility_accepted -%>
              <i class="fa fa-check-square-o text-success"
                 title="<%= Issue.human_attribute_name(:responsibility_accepted) %>"
                 aria-hidden="true"></i>
            <% else -%>
              <i class="fa fa-times-circle-o text-warning"
                 title="<%= Issue.human_attribute_name(:responsibility_not_accepted) %>"
                 aria-hidden="true"></i>
            <% end -%>
            <% if issue.delegation.present? -%>
              (<span title="<%= delegation_tooltip(issue) %>">
                 <i class="fa fa-long-arrow-right" aria-hidden="true"></i> <%= issue.delegation %>
               </span>)
            <% end -%>
          </td>
          <td><%= l(issue.updated_at, format: :no_seconds) %></td>
          <td><%= issue.last_editor %></td>
          <td><%= Issue.human_enum_name :priority, issue.priority %></td>
          <% if authorized?(:jobs) -%>
            <td>
              <% if issue.job.present? -%>
                <span title="<%= "#{Job.human_attribute_name(:group)}: #{issue.job.group.name}" %>"><%= issue.job.group %></span>
                (<span title="<%= Job.human_attribute_name(:date) %>"><%= l(issue.job_date.to_date) %></span>)
              <% end -%>
            </td>
          <% end -%>
          <td>
            <%= link_to tag.i('', class: 'fa fa-pencil'), edit_issue_path(issue, request.query_parameters),
                  remote: true, class: 'btn btn-sm btn-outline-primary' %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <%= paginate @issues %>
</div>
