
<div class="form-group row">
  <%= form.label(:responsibility, for: :issue_responsibility_id, class: 'col-md-2 col-form-label') %>
  <div class="col-md-4">
    <label class="col-form-label">
      <%= t('.current_responsibility') %> <%= form.object.responsibility %>
    </label>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-4 offset-2">
    <div class="form-check form-check-inline">
      <%= form.label(:responsibility_action_accept, '', class: 'form-check-label') do %>
        <%= form.radio_button :responsibility_action, :accept %>
        <%= t('.responsibility_action_accept') %>
      <% end -%>
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-4 offset-2">
    <div class="form-check form-check-inline">
      <%= form.label(:responsibility_action_manual, '', class: 'form-check-label') do %>
        <%= form.radio_button :responsibility_action, :manual %>
        <%= t('.responsibility_action_manual') %>
      <% end -%>
    </div>
  </div>
  <div class="col-md-4" id="manual-responsibility" style="display: <%= form.object.responsibility_action&.to_sym == :manual ? 'inline' : 'none' %>;">
    <%= form.select :responsibility_id, options_from_collection_for_select(Group.where(kind: Group.kinds[:internal]), :id, :to_s, form.object.responsibility_id), { include_blank: true }, { class: 'form-control' } %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-4 offset-2">
    <div class="form-check form-check-inline">
      <%= form.label(:responsibility_action_recalculation, '', class: 'form-check-label') do %>
        <%= form.radio_button :responsibility_action, :recalculation %>
        <%= t('.responsibility_action_recalculation') %>
      <% end -%>
    </div>
  </div>
</div>

