<%= form.hidden_field :status, value: 'reviewed' %>
<div class="row">
  <%= form.label :kind, class: 'col-2 col-form-label' %>
  <div class="col-10 col-form-label">
    <%= MainCategory.human_enum_name :kind, form.object.kind %>
  </div>
  <%= form.label :category, for: :issue_main_user_id, class: 'col-2 col-form-label' %>
  <div class="col-10 col-form-label">
    <%= form.object.category %>
  </div>
  <%= form.label :description, class: 'col-2 col-form-label' %>
  <div class="col-10 col-form-label">
    <%= form.object.description %>
  </div>
  <div class="col-10 offset-2 col-form-label">
    <%= form.label :description_status_internal, '',
          class: 'form-check-label', title: description_status_internal_title do %>
      <%= form.radio_button :description_status, :internal %>
      <%= tag.span class: 'fa fa-home fa-2x' %>
    <% end -%>
    <%= form.label :description_status_external, '',
          class: 'form-check-label', title: description_status_external_title do %>
      <%= form.radio_button :description_status, :external, checked: true %>
      <%= tag.span class: 'fa fa-globe fa-2x' %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= form.label :created_at, class: 'col-2 col-form-label' %>
  <div class="col-4 col-form-label">
    <%= l(form.object.created_at, format: :no_seconds) %>
  </div>
  <%= form.label :author, class: 'col-2 col-form-label' %>
  <div class="col-4 col-form-label">
    <%= form.object.author %>
  </div>
</div>
<div class="row">
  <%= form.label :position, class: 'col-2 col-form-label' %>
  <div class="col-<%= form.object.photos.length.positive? ? '4' : '10' %> col-form-label">
    <%= render partial: 'external_map', locals: { issue: form.object } %>
    <div class="row">
      <div class="col-12">
        <div id="map" class="map review-map"
          data-lat="<%= form.object&.position&.y %>"
          data-lon="<%= form.object&.position&.x %>"
          data-icon="<%= asset_path form.object&.map_icon %>"
          data-position-input="<%= '#issue_position' if Current.user.auth_code.blank? %>">
          <%= render partial: 'map_toggle' %>
        </div>
      </div>
    </div>
  </div>
  <% if form.object.photos.length > 0 %>
    <%= form.label :photo, class: 'col-2 col-form-label' %>
    <div class="col-4 col-form-label">
      <% photo = form.object.photos.first %>
      <div class="row">
        <div class="col-12">
          <%= link_to image_tag(photo.file.variant(resize_to_limit: [300, 300])),
                photo.file, target: '_blank', rel: :noopener %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= form.fields_for :photos do |photo_form| %>
            <%= photo_form.label 'status_internal', '',
                  title: photo_status_internal_title,
                  class: 'form-check-label' do %>
              <%= photo_form.radio_button :status, :internal %>
              <%= tag.span class: 'fa fa-home fa-2x' %>
            <% end %>
            <%= photo_form.label 'status_external', '',
                  title: photo_status_external_title,
                  class: 'form-check-label' do %>
              <%= photo_form.radio_button :status, :external, checked: true %>
              <%= tag.span class: 'fa fa-globe fa-2x' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end -%>
</div>
<div class="row">
  <%= form.label :address, class: 'col-2 col-form-label' %>
  <div class="col-4 col-form-label">
    <%= form.object.address %>
  </div>
  <%= form.label :parcel, class: 'col-2 col-form-label' %>
  <div class="col-4 col-form-label">
    <%= form.object.parcel %>
  </div>
</div>
<%= render partial: 'responsibility_actions', locals: { form: form } %>
