<div class="row">
  <%= form.label :position, class: 'col-2 col-form-label' %>
  <div class="col-10">
    <% unless restricted || form.object.new_record? -%>
      <%= render partial: 'external_map', locals: { issue: form.object } %>
    <% end -%>
    <div class="row">
      <div class="col-12">
        <div id="map" class="map"
          data-lat="<%= form.object&.position&.y %>"
          data-lon="<%= form.object&.position&.x %>"
          data-icon="<%= asset_path form.object&.map_icon %>"
          data-position-input="<%= '#issue_position' if !(restricted || form.object.closed?) &&
                                                        Current.user.auth_code.blank? %>">
          <%= render partial: 'map_toggle' %>
        </div>
      </div>
    </div>
    <%= form.hidden_field :position, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <%= form.label :address, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.autocomplete_field :address, class: 'form-control', 'data-autocomplete-url': places_path,
                                          disabled: restricted || form.object.closed? %>
  </div>
  <% unless form.object.new_record? -%>
    <%= form.label :parcel, class: 'col-2 col-form-label' %>
    <div class="col-4">
      <%= form.text_field :parcel, class: 'form-control', disabled: restricted || form.object.closed? %>
    </div>
  <% end -%>
</div>
<% unless form.object.new_record? -%>
  <div class="row">
    <%= form.label :property_owner, class: 'col-3 col-form-label' %>
    <div class="col-9">
      <%= form.text_field :property_owner, class: 'form-control', disabled: restricted || form.object.closed? %>
    </div>
  </div>
<% end -%>
