<% unless form.object.new_record? -%>
  <div class="row">
    <%= form.label :status, class: 'col-2 col-form-label' %>
    <div class="col-10 col-form-label">
      <% Issue.statuses.each do |status, ix| -%>
        <% next if ix < Issue.statuses[:reviewed] -%>
        <div>
          <%= form.label "status_#{status}", '', class: 'form-check-label' do %>
            <%= form.radio_button :status, status, disabled:
                  restricted || (!form.object.responsibility_accepted? &&
                                ix.between?(Issue.statuses[:not_solvable], Issue.statuses[:closed])) %>
            <%= Issue.human_enum_name :status, status %>
          <% end %>
        </div>
      <% end -%>
    </div>
  </div>
  <div class="row">
    <%= form.label :status_note, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_area(
            :status_note,
            class: 'form-control',
            maxlength: Settings::Issue.status_note_max_length,
            rows: 5,
            readonly: restricted || (!form.object.status_changed? && form.object.closed?)
          ) %>
      <%= select_tag :status_note_template,
            options_for_select(status_note_templates),
            class: 'form-select',
            prompt: 'Vorlage wählen',
            disabled: restricted || (!form.object.status_changed? && form.object.closed?) %>
    </div>
  </div>
<% end -%>
<div class="row">
  <%= form.label :kind, class: 'col-2 col-form-label' %>
  <div class="col-10 col-form-label">
    <% MainCategory.kinds.each do |kind, ix| -%>
      <div class="form-check form-check-inline">
        <%= form.label("kind_#{kind}", '', class: 'form-check-label') do %>
          <%= form.radio_button :kind, kind,
                disabled: restricted || (!form.object.status_changed? && form.object.closed?) %>
          <%= MainCategory.human_enum_name :kind, kind %>
        <% end %>
      </div>
    <% end -%>
  </div>
</div>
<div class="row">
  <%= form.label :category, for: :issue_main_user_id, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.select :category_id, grouped_categories(form.object),
          { include_blank: '' }, class: 'form-select',
          disabled: restricted || (!form.object.status_changed? && form.object.closed?) %>
  </div>
  <% unless restricted -%>
    <%= form.label :author, class: 'col-1 col-form-label' %>
    <div class="col-5">
      <%= form.text_field :author,
            class: 'form-control',
            value: form.object.new_record? ? Current.user.email : form.object.author,
            readonly: !form.object.new_record? || restricted || (!form.object.status_changed? && form.object.closed?) %>
    </div>
  <% end -%>
</div>
<div class="row">
  <%= form.label :description, class: 'col-2 col-form-label' %>
  <div class="col-<%= form.object.new_record? ? 10 : 9 %>">
    <%= form.text_area :description, class: 'form-control', rows: 5,
          disabled: restricted || (!form.object.status_changed? && form.object.closed?) %>
  </div>
  <% unless form.object.new_record? -%>
    <div class="col-1">
      <%= form.label :description_status_internal, '',
            class: 'form-check-label', title: description_status_internal_title do %>
        <%= form.radio_button :description_status, :internal,
              disabled: restricted || (!form.object.status_changed? && form.object.closed?) %>
        <%= tag.span class: 'fa fa-home fa-2x' %>
      <% end -%>
      <%= form.label :description_status_external, '',
            class: 'form-check-label', title: description_status_external_title do %>
        <%= form.radio_button :description_status, :external,
              disabled: restricted || (!form.object.status_changed? && form.object.closed?) %>
        <%= tag.span class: 'fa fa-globe fa-2x' %>
      <% end %>
    </div>
  <% end -%>
</div>
<div class="row" style="<%= 'display: none' unless form.object.status_in_process? %>">
  <%= form.label :expected_closure, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.text_field :expected_closure,
          class: 'form-control datepicker',
          value: l(form.object.expected_closure),
          readonly: restricted || (!form.object.status_changed? && form.object.closed?) %>
  </div>
</div>
<% unless form.object.new_record? -%>
  <div class="row">
    <%= form.label :priority, class: 'col-2 col-form-label' %>
    <div class="col-10 col-form-label">
      <% Issue.priorities.each do |priority, ix| -%>
        <div class="form-check form-check-inline">
          <%= form.label "priority_#{priority}", '', class: 'form-check-label' do %>
            <%= form.radio_button :priority, priority,
                  disabled: restricted || (!form.object.status_changed? && form.object.closed?) %>
            <%= Issue.human_enum_name :priority, priority %>
          <% end %>
        </div>
      <% end -%>
    </div>
  </div>
<% end -%>
<% if form.object.dms.present? -%>
  <div class="row">
    <div class="col-10 offset-md-2">
      <%= form.button 'DMS', class: 'btn btn-secondary col-2', id: :dms_link, data: { id: form.object.id } %>
    </div>
  </div>
<% end -%>
<% if form.object.closed? -%>
  <div class="row">
    <div class="col-10 offset-md-2">
      <%= form.label(:archived, '', class: 'form-check-label') do %>
        <%= form.check_box(:archived, class: 'form-check form-check-inline', disabled: restricted) %>
        <%= Issue.human_attribute_name(:archived) %>
      <% end %>
    </div>
  </div>
<% end -%>
