<div class="form-group row">
  <%= form.label :position, class: 'col-md-2 col-form-label' %>
  <div class="col-md-10">
    <div id="map" class="map"
      data-lat="<%= form.object&.position&.y %>"
      data-lon="<%= form.object&.position&.x %>"
      data-icon="<%= asset_path form.object&.map_icon %>"
      data-position-input="#issue_position">
    </div>
    <%= form.hidden_field :position, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <%= form.label :address, class: 'col-md-2 col-form-label' %>
  <div class="col-md-4">
    <%= form.autocomplete_field :address, class: 'form-control', 'data-autocomplete-url': places_path,
                                          disabled: restricted %>
  </div>
  <% unless form.object.new_record? -%>
    <%= form.label :parcel, class: 'col-md-2 col-form-label' %>
    <div class="col-md-4">
      <%= form.text_field :parcel, class: 'form-control', disabled: restricted %>
    </div>
  <% end -%>
</div>
<% unless form.object.new_record? -%>
  <div class="form-group row">
    <%= form.label :property_owner, class: 'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= form.text_field :property_owner, class: 'form-control', disabled: restricted %>
    </div>
  </div>
<% end -%>
