<%= paginate @feedbacks %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= Feedback.human_attribute_name(:created_at) %></th>
      <th scope="col"><%= Feedback.human_attribute_name(:author) %></th>
      <th scope="col"><%= Feedback.human_attribute_name(:message) %></th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <th scope="row"><%= feedback.id %></th>
        <td><%= l(feedback.created_at) %></td>
        <td><%= feedback.author %></td>
        <td><%= feedback.message %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @feedbacks %>
