<table class="table" id="photos">
  <% unless form.object.new_record? -%>
    <thead>
      <tr>
        <th scope="col"><%= Photo.human_attribute_name :file %></th>
        <% unless restricted -%><th scope="col"><%= Photo.human_attribute_name :author %></th><% end -%>
        <th scope="col"><%= Photo.human_attribute_name :approval_status %></th>
        <th scope="col"><%= Photo.human_attribute_name :created_at %></th>
        <% unless restricted || form.object.closed? -%><th scope="col"><%= t('actions') %></th><% end -%>
      </tr>
    </thead>
    <tbody>
      <%= form.fields_for :photos do |photo_form| %>
        <% if photo_form.object.persisted? -%>
          <tr id="photo_<%= photo_form.object.id %>">
            <td>
              <% unless restricted || form.object.closed? -%>
                <div class="actions">
                  <%= link_to tag.i('', class: 'fa fa-refresh'), '',
                        class: 'btn btn-sm btn-outline-primary rotate', title: t('.rotate') %>
                  <%= link_to tag.i('', class: 'fa fa-pencil'), '',
                        class: 'btn btn-sm btn-outline-primary edit', title: t('.edit') %>
                  <%= link_to tag.i('', class: 'fa fa-close'), '',
                        class: 'btn btn-sm btn-outline-primary stop-edit', title: t('.stop_edit'),
                        style: 'display: none' %>
                  <%= link_to tag.i('', class: 'fa fa-undo'), '',
                        class: 'btn btn-sm btn-outline-primary undo', title: t('.undo'), style: 'display: none' %>
                  <%= link_to tag.i('', class: 'fa fa-repeat'), '',
                        class: 'btn btn-sm btn-outline-primary redo', title: t('.redo'), style: 'display: none' %>
                  <%= link_to tag.i('', class: 'fa fa-floppy-o'), '',
                        class: 'btn btn-sm btn-outline-primary save', title: t('.save'), style: 'display: none' %>
                </div>
              <% end -%>
              <div>
                <div class="record"></div>
                <%= link_to image_tag(photo_form.object.file.variant(resize_to_limit: [360, 360]), class: 'image'),
                      photo_form.object.file,
                      target: '_blank', rel: :noopener %>
              </div>
            </td>
            <% unless restricted -%>
              <td>
                <%= photo_form.object.author %>
              </td>
            <% end -%>
            <td>
              <%= photo_form.label 'status_internal', '',
                    title: Photo.human_enum_name(:status, :internal),
                    class: 'form-check-label' do %>
                <%= photo_form.radio_button :status, :internal, disabled: restricted || form.object.closed? %>
                <%= tag.span class: 'fa fa-home fa-2x' %>
              <% end %>
              <%= photo_form.label 'status_external', '',
                    title: Photo.human_enum_name(:status, :external),
                    class: 'form-check-label' do %>
                <%= photo_form.radio_button :status, :external, disabled: restricted || form.object.closed? %>
                <%= tag.span class: 'fa fa-globe fa-2x' %>
              <% end %>
            </td>
            <td><%= l(photo_form.object.created_at, format: :no_seconds) %></td>
            <% unless restricted || form.object.closed? -%>
              <td>
                <%= photo_form.hidden_field :censor_rectangles, class: :censor_rectangles %>
                <%= photo_form.hidden_field :censor_width, class: :censor_width %>
                <%= photo_form.hidden_field :censor_height, class: :censor_height %>
                <%= photo_form.hidden_field :_modification, class: :modification %>
                <%= photo_form.hidden_field '_destroy', class: :delete %>
                <%= link_to tag.i('', class: 'fa fa-trash'), '', class: 'btn btn-sm btn-outline-primary delete' %>
              </td>
            <% end -%>
          </tr>
        <% end -%>
      <% end %>
    </tbody>
  <% end -%>
  <% unless restricted || form.object.closed? -%>
    <tfoot>
      <td colspan="5">
        <div class="row">
          <%= form.label :new_photo, for: :issue_new_photo, class: 'col-2 col-form-label' %>
          <div class="col-4">
            <%= form.file_field :new_photo, class: 'form-control', accept: 'image/*' %>
          </div>
          <%= form.submit t('action.upload'), class: 'btn btn-primary col-2' %>
        </div>
        <% unless form.object.new_record? -%>
          <div class="row">
            <div class="col-4">
              <div class="form-check-inline">
                <label class="form-check-label">
                  <%= form.check_box :photo_requested, class: 'form-check-input' %>
                  <%= Issue.human_attribute_name :photo_requested %>
                </label>
              </div>
            </div>
          </div>
        <% end -%>
      </td>
    </tfoot>
  <% end -%>
</table>
