<h1><%= Issue.model_name.human(count: 2) %></h1>
<div id="issues-result">
  <div class="card mb-3">
    <div class="card-body <%= 'pb-0' unless @extended_filter %>">
      <%= link_to t("#{@extended_filter ? :simple : :extended}_search"),
            issues_path(extended_filter: !@extended_filter),
            class: 'btn btn-sm btn-outline-primary float-right' %>
      <%= render partial: "#{@extended_filter ? 'extended' : 'simple'}_filter" %>
    </div>
  </div>
  <%= render partial: 'result_list' %>
  <%= render partial: 'job_assignment' %>
</div>
<% content_for :footer do %>
  <span id="issues-footer">
    <%= button_tag t('.map'), type: 'button', class: 'btn btn-primary show-map',
                              data: { extended_filter: @extended_filter, status: @status } %>
    <%= link_to t(:export_xlsx), issues_path(format: :xlsx), class: 'btn btn-primary' %>
    <%= button_tag t('.assign_jobs'), id: 'assign-jobs', type: 'button', class: 'btn btn-primary' %>
    <% if authorized?(:create_issue) -%>
      <div class="float-right">
        <%= link_to t('.new_issue'), new_issue_path, remote: true, class: 'btn btn-primary' %>
      </div>
    <% end -%>
  </span>
<% end %>
<% if @edit_issue_url -%>
  <script defer="true">
    $(function() {
      window.history.replaceState(null, null, <%= raw issues_path.to_json %>);
      $.ajax({ url: <%= raw @edit_issue_url.to_json %> });
    });
  </script>
<% end -%>
