<h1><%= Issue.model_name.human(count: 2) %></h1>
<%= render partial: 'success' %>
<div id="issues-result">
  <% unless Current.user.auth_code -%>
    <div class="card mb-3">
      <div class="card-body">
        <%= link_to t("#{@extended_filter ? :simple : :extended}_search"),
              issues_path(extended_filter: !@extended_filter),
              class: 'btn btn-sm btn-outline-primary float-end' %>
        <%= render partial: "#{@extended_filter ? 'extended' : 'simple'}_filter" %>
      </div>
    </div>
  <% end -%>
  <%= render partial: 'result_list' %>
  <%= render partial: 'job_assignment' %>
</div>
<% content_for :footer do %>
  <%= render partial: 'issues_buttons' %>
<% end %>
<% if @issue -%>
  <div id="open-issue" data-issue="<%= @issue.id %>" />
<% end -%>
<% if @edit_issue_url -%>
  <script defer="true">
    $(function() {
      window.history.replaceState(null, null, <%= raw issues_path.to_json %>);
      $.ajax({ url: <%= raw @edit_issue_url.to_json %> });
    });
  </script>
<% end -%>
<div id="dialog-confirm">
  Sie haben ungespeicherte Änderungen auf diesem Tab.<br>
  Wollen Sie die Änderungen vor dem Tab-Wechsel speichern?
</div>
