<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        <%= t('.change_user') %>
      </div>
      <div class="card-body">
        <%= form_for :login, url: logins_path, method: :put do |form| -%>
          <div class="row">
            <%= form.label :user, User.model_name.human(count: 2), class: 'col-2 col-form-label' %>
            <div class="col-4">
              <%= form.collection_select :user_id, User.all, :id, :to_s, {}, class: 'form-select' %>
            </div>
            <div class="col">
              <%= form.submit t('.accept'), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
