<% if @error -%>
  <div class="alert alert-danger" role="alert">
    <%= @error %>
  </div>
<% end -%>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        <%= t('.login') %>
      </div>
      <div class="card-body">
        <%= form_for :login, url: logins_path do |f| -%>
          <div class="form-floating mb-3">
            <%= f.text_field :login, class: 'form-control',
                  placeholder: :login, autocapitalize: 'off',
                  autocomplete: 'off' %>
            <%= f.label :login %>
          </div>
          <div class="form-floating mb-3">
            <%= f.password_field :password, class: 'form-control',
                  placeholder: :password, autocomplete: 'off' %>
            <%= f.label :password %>
          </div>
          <%= f.submit t('.sign_in'), class: 'btn btn-primary' %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
