<% if @error -%>
  <div class="alert alert-danger" role="alert">
    <%= @error %>
  </div>
<% end -%>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <%= form_for :login, url: logins_path do |f| -%>
          <div class="mb-3">
            <%= f.label :login, 'Login *' %>
            <%= f.text_field :login, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= f.label :password, 'Passwort *' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <%= f.submit 'Anmelden', class: 'btn btn-primary' %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
