<table id="group-<%= group_id %>-table" class="table">
  <thead>
    <tr>
      <th colspan="5"><%= Issue.model_name.human %></th>
      <th colspan="3"><%= Job.model_name.human %></th>
    </tr>
    <tr>
      <th><input type="checkbox" class="select-all"></th>
      <th><%= Issue.human_attribute_name :id %></th>
      <th><%= Issue.human_attribute_name :created_at %></th>
      <th><%= Issue.human_attribute_name :category %></th>
      <th><%= Issue.human_attribute_name :status %></th>
      <th><%= Issue.human_attribute_name :status %></th>
      <th><%= Job.human_attribute_name :updated_at %></th>
      <th><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody class="table-draggable">
    <% jobs.each do |job| -%>
      <%= render partial: 'job', locals: { job: job } %>
    <% end -%>
  </tbody>
</table>
