<%= render partial: 'errors', locals: { object: group } %>

<div class="row">
  <%= form.label :active, class: 'col-2 col-form-label' %>
  <div class="col-10">
    <div class="form-check form-check-inline">
      <%= form.label :active_true, '', class: 'form-check-label' do -%>
        <%= form.radio_button :active, true %>
        <%= t true %>
      <% end -%>
    </div>
    <div class="form-check form-check-inline">
      <%= form.label :active_false, '', class: 'form-check-label' do -%>
        <%= form.radio_button :active, false %>
        <%= t false %>
      <% end -%>
    </div>
  </div>
</div>
<div class="row">
  <%= form.label :type, class: 'col-2 col-form-label' %>
  <div class="col-10">
    <% Current.user.permitted_group_types.each do |type| -%>
      <div class="form-check form-check-inline">
        <%= form.label "type_#{type.downcase}", '', class: 'form-check-label' do -%>
          <%= form.radio_button :type, type %>
          <%= Group.human_enum_name :type, type %>
        <% end -%>
      </div>
    <% end -%>
  </div>
</div>
<div class="row">
  <%= form.label :kind, class: 'col-2 col-form-label' %>
  <div class="col-10">
    <% Group.kinds.keys.each do |kind| -%>
      <div class="form-check form-check-inline">
        <%= form.label "kind_#{kind}", '', class: 'form-check-label' do -%>
          <%= form.radio_button :kind, kind %>
          <%= Group.human_enum_name :kind, kind %>
        <% end -%>
      </div>
    <% end -%>
  </div>
</div>
<div class="row">
  <%= form.label :name, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <%= form.label :short_name, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.text_field :short_name, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <%= form.label :email, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.text_field :email, class: 'form-control' %>
  </div>
  <%= form.label :main_user, for: :group_main_user_id, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.collection_select :main_user_id, User.all, :id, :to_s, { include_blank: '' }, { class: 'form-select' } %>
  </div>
</div>
<div class="row">
  <%= form.label :users, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.select_many_field 'user_ids',
          class: 'form-control', 'data-autocomplete-url': users_path, columns: 'name', object: User %>
  </div>
  <div class="col-6">
    <div class="row">
      <div id="regional_restriction" class="col-12">
        <%= render partial: 'regional_restriction', locals: { type: @group.type, select: @group.reference_id } %>
      </div>
    </div>
    <div class="row">
      <%= form.label :reference_default, class: 'col-4 col-form-label' %>
      <div class="col-8">
        <div class="form-check form-check-inline">
          <%= form.label :reference_default_true, '', class: 'form-check-label' do -%>
            <%= form.radio_button :reference_default, true, disabled: !Current.user.role_admin? %>
            <%= t true %>
          <% end -%>
        </div>
        <div class="form-check form-check-inline">
          <%= form.label :reference_default_false, '', class: 'form-check-label' do -%>
            <%= form.radio_button :reference_default, false, disabled: !Current.user.role_admin? %>
            <%= t false %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
