<h1><%= Group.model_name.human(count: 2) %></h1>

<%= paginate @groups %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= Group.human_attribute_name :name %></th>
      <th scope="col"><%= Group.human_attribute_name :short_name %></th>
      <th scope="col"><%= Group.human_attribute_name :type %></th>
      <th scope="col"><%= Group.human_attribute_name :kind %></th>
      <th scope="col"><%= Group.human_attribute_name :email %></th>
      <th scope="col"><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| -%>
      <tr class="<%= 'text-muted' unless group.active? %>">
        <th scope="row"><%= group.id %></th>
        <td><%= group.name %></td>
        <td><%= group.short_name %></td>
        <td><%= Group.human_enum_name :type, group.type %></td>
        <td><%= Group.human_enum_name :kind, group.kind %></td>
        <td><%= group.email %></td>
        <td>
          <%= link_to tag.i('', class: 'fa fa-pencil'), edit_group_path(group),
                remote: true, class: 'btn btn-sm btn-outline-primary' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @groups %>

<% content_for :footer do %>
  <div class="float-right">
    <%= link_to t('.new_group'), new_group_path, remote: true, class: 'btn btn-primary' %>
  </div>
<% end %>
