<h1><%= Group.model_name.human(count: 2) %></h1>

<%= render partial: 'simple_text_filter' %>
<%= paginate @groups %>

<table class="table">
  <thead>
    <tr>
      <% %w[id name short_name type kind email].each do |col| %>
        <th scope="col">
          <%= order_link Group.human_attribute_name(col), :groups, col %>
        </th>
      <% end -%>
      <th scope="col"><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| -%>
      <tr class="<%= 'text-muted' unless group.active? %>">
        <th scope="row"><%= group.id %></th>
        <td><%= group.name %></td>
        <td><%= group.short_name %></td>
        <td><%= Group.human_enum_name :type, group.type %></td>
        <td><%= Group.human_enum_name :kind, group.kind %></td>
        <td><%= group.email %></td>
        <td>
          <%= link_to tag.i('', class: 'fa fa-pencil'), edit_group_path(group),
                remote: true, class: 'btn btn-sm btn-outline-primary' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @groups %>

<% content_for :footer do %>
  <div class="float-end">
    <%= link_to t('.new_group'), new_group_path, remote: true, class: 'btn btn-primary' %>
  </div>
<% end %>
