<h1><%= Group.model_name.human(count: 2) %></h1>

<%= form_tag(nil, method: :get) do %>
  <div class="row mb-3">
    <div class="col">
     <%= text_field_tag 'filter[text]', @filter[:text], class: 'form-control' %>
    </div>
    <%= label_tag :filter_include_inactive, class: 'col col-form-label' do %>
      <%= check_box_tag 'filter[include_inactive]', true, @filter[:include_inactive] == 'true' %> inaktive Gruppen anzeigen 
    <% end -%>
    <div class="col-1">
      <%= submit_tag t(:filter), class: 'btn btn-primary float-end' %>
    </div>
  </div>
<% end -%>
<%= paginate @groups %>

<table class="table">
  <thead>
    <tr>
      <% %w[id name short_name type kind email].each do |col| %>
        <th scope="col">
          <%= order_link Group.human_attribute_name(col), :groups, col %>
        </th>
      <% end -%>
      <th scope="col"><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| -%>
      <tr class="<%= 'text-muted' unless group.active? %>">
        <th scope="row"><%= group.id %></th>
        <td><%= group.name %></td>
        <td><%= group.short_name %></td>
        <td><%= Group.human_enum_name :type, group.type %></td>
        <td><%= Group.human_enum_name :kind, group.kind %></td>
        <td><%= group.email %></td>
        <td>
          <%= link_to tag.i('', class: 'fa fa-pencil'), edit_group_path(group),
                remote: true, class: 'btn btn-sm btn-outline-primary' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @groups %>

<% content_for :footer do %>
  <div class="float-end">
    <%= link_to t('.new_group'), new_group_path, remote: true, class: 'btn btn-primary' %>
  </div>
<% end %>
