<% if user.errors.any? %>
  <div class="alert alert-danger">
    <ul class="list-unstyled mb-0">
      <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group row">
  <%= form.label(:active, class: 'col-md-2 col-form-label') %>
  <div class="col-md-10">
    <div class="form-check form-check-inline">
      <%= form.label(:active_true, '', class: 'form-check-label') do %>
        <%= form.radio_button :active, true %>
        <%= t(true) %>
      <% end -%>
    </div>
    <div class="form-check form-check-inline">
      <%= form.label(:active_false, '', class: 'form-check-label') do %>
        <%= form.radio_button :active, false %>
        <%= t(false) %>
      <% end -%>
    </div>
  </div>
</div>
<div class="form-group row">
  <%= form.label(:role, class: 'col-md-2 col-form-label') %>
  <div class="col-md-10">
    <% User.roles.each do |role, ix| -%>
      <div class="form-check form-check-inline">
        <%= form.label("role_#{ role }", '', class: 'form-check-label') do %>
          <%= form.radio_button :role, role %>
          <%= t(role) %>
        <% end -%>
      </div>
    <% end -%>
  </div>
</div>
<div class="form-group row">
  <%= form.label(:first_name, class: 'col-md-2 col-form-label') %>
  <div class="col-md-4">
    <%= form.text_field(:first_name, class: 'form-control') %>
  </div>
  <%= form.label(:last_name, class: 'col-md-2 col-form-label') %>
  <div class="col-md-4">
    <%= form.text_field(:last_name, class: 'form-control') %>
  </div>
</div>
<div class="form-group row">
  <%= form.label(:login, class: 'col-md-2 col-form-label') %>
  <div class="col-md-4">
    <%= form.text_field(:login, class: 'form-control') %>
  </div>
  <%= form.label(:ldap, class: 'col-md-2 col-form-label') %>
  <div class="col-md-4 ui-front">
    <%= form.text_field(:ldap, class: 'form-control', 'data-autocomplete-url': user_ldaps_path) %>
  </div>
</div>
<div class="form-group row">
  <%= form.label(:email, class: 'col-md-2 col-form-label') %>
  <div class="col-md-4">
    <%= form.text_field(:email, class: 'form-control') %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-4 offset-md-2">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <%= form.check_box(:group_feedback_recipient, class: 'form-check-input') %>
        <%= User.human_attribute_name(:group_feedback_recipient) %>
      </label>
    </div>
  </div>
</div>
