<%= render partial: 'errors', locals: { object: user } %>

<div class="row">
  <%= form.label :active, class: 'col-2 col-form-label' %>
  <div class="col-10">
    <div class="form-check form-check-inline">
      <%= form.label :active_true, '', class: 'form-check-label' do %>
        <%= form.radio_button :active, true %>
        <%= t true %>
      <% end -%>
    </div>
    <div class="form-check form-check-inline">
      <%= form.label :active_false, '', class: 'form-check-label' do %>
        <%= form.radio_button :active, false %>
        <%= t false %>
      <% end -%>
    </div>
  </div>
</div>
<div class="row">
  <%= form.label :role, class: 'col-2 col-form-label' %>
  <div class="col-10">
    <% User.roles.each do |role, ix| -%>
      <% if User.roles[role] >= Current.user.read_attribute_before_type_cast(:role) -%>
        <div class="form-check form-check-inline">
          <%= form.label "role_#{role}", '', class: 'form-check-label' do %>
            <%= form.radio_button :role, role %>
            <%= User.human_enum_name :role, role %>
          <% end -%>
        </div>
      <% end -%>
    <% end -%>
  </div>
</div>
<div class="row">
  <%= form.label :first_name, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>
  <%= form.label :last_name, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <%= form.label :login, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.text_field :login, class: 'form-control' %>
  </div>
  <%= form.label :ldap, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.autocomplete_field :ldap, class: 'form-control', 'data-autocomplete-url': user_ldaps_path %>
  </div>
</div>
<div class="row">
  <%= form.label :email, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.text_field :email, class: 'form-control' %>
  </div>
  <%= form.label :password, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.password_field :password, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <%= form.label :recipient, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <div class="form-check form-check-inline">
      <div class="form-switch">
        <%= form.check_box :group_feedback_recipient, class: 'form-check-input' %>
        <%= form.label :group_feedback_recipient, class: 'form-check-label' %>
      </div>
      <div class="form-switch">
        <%= form.check_box :group_responsibility_recipient, role: :switch, class: 'form-check-input' %>
        <%= form.label :group_responsibility_recipient, class: 'form-check-label' %>
      </div>
    </div>
  </div>
  <%= form.label :password_confirmation, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <%= form.label :groups, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.select_many_field :group_ids,
          id: :user_groups, class: 'form-control', 'data-autocomplete-url': groups_path, columns: 'name',
          object: Group %>
  </div>
  <%= form.label :districts, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.select_many_field :district_ids,
          id: :user_districts, class: 'form-control', 'data-autocomplete-url': districts_path, columns: 'name',
          object: District %>
  </div>
</div>
