<%= render partial: 'success' %>
<%= render partial: 'errors', locals: { object: @user } %>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        <%= t '.title' %>
      </div>
      <div class="card-body">
        <div class="row form-group">
          <div class="alert alert-info">
            <%= t('.requirements', min_length: PasswordValidator.min_length, required_characters: PasswordValidator.required_characters) %>
          </div>
        </div>
        <%= form_tag(update_password_path, method: :put) do -%>
          <div class="row form-group">
            <%= label :user, :password, class: 'col-2 col-form-label' %>
            <div class="col-6">
              <%= password_field_tag 'user[password]', nil, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <%= label :user, :password_confirmation, class: 'col-2 col-form-label' %>
            <div class="col-6">
              <%= password_field_tag 'user[password_confirmation]', nil, class: 'form-control' %>
            </div>
            <div class="col">
              <%= submit_tag t('.accept'), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
