<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        Passwort ändern
      </div>
      <div class="card-body">
        <%= form_for(@user, url: update_password_user_path(@user), method: :put) do |f| -%>
          <div class="row form-group">
            <%= f.label :password, class: 'col-2 col-form-label' %>
            <div class="col-6">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <%= f.label :password_confirmation, class: 'col-2 col-form-label' %>
            <div class="col-6">
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <div class="col">
              <%= f.submit 'Übernehmen', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
