<h1><%= User.model_name.human count: 2 %></h1>

<%= paginate @users %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= User.human_attribute_name :last_name %></th>
      <th scope="col"><%= User.human_attribute_name :first_name %></th>
      <th scope="col"><%= User.human_attribute_name :login %></th>
      <th scope="col"><%= User.human_attribute_name :role %></th>
      <th scope="col"><%= User.human_attribute_name :ldap %></th>
      <th scope="col"><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| -%>
      <tr class="<%= 'text-muted' unless user.active? %>">
        <th scope="row"><%= user.id %></th>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.login %></td>
        <td><%= User.human_enum_name :role, user.role %></td>
        <td>
          <% if user.ldap.present? -%>
            <i class="fa fa-check-square-o text-success" aria-hidden="true"></i>
          <% end -%>
        </td>
        <td>
          <%= link_to tag.i('', class: 'fa fa-pencil'), edit_user_path(user),
                remote: true, class: 'btn btn-sm btn-outline-primary' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @users %>

<% content_for :footer do %>
  <div class="float-right">
    <%= link_to t('.new_user'), new_user_path, remote: true, class: 'btn btn-primary' %>
  </div>
<% end %>
