<div class="row">
  <div class="col-3">
    <h6><%= t 'imprints.concept_and_support.title' %></h6>
    <p>
      <%= t 'imprints.concept_and_support.address_html' %>
      <br>
      <%= t 'imprints.concept_and_support.telephone' %>
      <br>
      <%= t 'imprints.concept_and_support.email_html' %>
    </p>
  </div>
  <div class="col-3 offset-1">
    <h6><%= t 'imprints.technical_implementation.title' %></h6>
    <p>
      <%= t 'imprints.technical_implementation.address_html' %>
    </p>
  </div>
</div>
<div class="row">
  <h6><%= t 'imprints.license_terms.title' %></h6>
  <p>
    <%= t 'imprints.license_terms.notice_html' %>
  </p>
</div>
