<div class="row">
  <div class="col-3">
    <h6><%= I18n.t('imprints.concept_and_support.title') %></h6>
    <p>
      <%= I18n.t('imprints.concept_and_support.address') %>
      <br>
      <%= I18n.t('imprints.concept_and_support.telephone') %>
      <br>
      <%= I18n.t('imprints.concept_and_support.email') %>
    </p>
  </div>
  <div class="col-3 offset-1">
    <h6><%= I18n.t('imprints.technical_implementation.title') %></h6>
    <p>
      <%= I18n.t('imprints.technical_implementation.address') %>
    </p>
  </div>
</div>
<div class="row">
  <h6><%= I18n.t('imprints.license_terms.title') %></h6>
  <p>
    <%= I18n.t('imprints.license_terms.notice') %>
  </p>
</div>
