<h1><%= Responsibility.model_name.human count: 2 %></h1>

<%= render partial: 'simple_text_filter' %>
<%= order_by_group? ? (paginate @responsibilities) : (paginate @categories) %>

<table class="table">
  <thead>
    <tr>
      <th>
        <%= order_link MainCategory.human_attribute_name(:kind), :responsibilities, :kind %>
      </th>
      <th>
        <%= order_link Category.model_name.human(count: 1), :responsibilities, :category %>
      </th>
      <th>
        <%= order_link Group.model_name.human(count: 1), :responsibilities, :group %>
        <% unless order_by_group? %><span class="float-end"><%= t :actions %></span><% end %>
      </th>
      <% if order_by_group? %><th><%= t :actions %></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% if order_by_group? %>
      <%= render partial: 'result_list_by_group' %>
    <% else %>
      <%= render partial: 'result_list_by_category' %>
    <% end %>
  </tbody>
</table>

<%= order_by_group? ? (paginate @responsibilities) : (paginate @categories) %>

<% content_for :footer do %>
  <div class="float-end">
    <%= link_to t('.new_responsibility'), new_responsibility_path, remote: true, class: 'btn btn-primary' %>
  </div>
<% end %>
