<h1><%= Responsibility.model_name.human count: 2 %></h1>

<%= render partial: 'simple_text_filter' %>
<%= paginate order_by_group? ? @responsibilities : @categories %>

<table class="table">
  <thead>
    <tr>
      <th><%= order_link MainCategory.human_attribute_name(:kind), :responsibilities, :kind %></th>
      <th><%= order_link Category.model_name.human(count: 1), :responsibilities, :category %></th>
      <th><%= order_link Group.model_name.human(count: 1), :responsibilities, :group %></th>
      <th class="action"><%= t :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% if order_by_group? -%>
      <%= render partial: 'responsibility', collection: @responsibilities %>
    <% else -%>
      <%= render partial: 'category', collection: @categories %>
    <% end -%>
  </tbody>
</table>

<%= paginate order_by_group? ? @responsibilities : @categories %>

<% content_for :footer do %>
  <div class="float-end">
    <%= link_to t('.new_responsibility'), new_responsibility_path, remote: true, class: 'btn btn-primary' %>
  </div>
<% end %>
