<h1><%= Responsibility.model_name.human count: 2 %></h1>

<%= render partial: 'simple_text_filter' %>
<%= paginate @categories %>

<table class="table">
  <thead>
    <tr>
      <th>
        <%= order_link MainCategory.human_attribute_name(:kind), :responsibilities, :kind %>
      </th>
      <th>
        <%= order_link Category.model_name.human(count: 1), :responsibilities, :category %>
      </th>
      <th>
        <%= Group.model_name.human(count: 1) %>
        <span class="float-end"><%= t :actions %></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| -%>
      <tr>
        <td><%= category.kind_name %></td>
        <td><%= category %></td>
        <td>
          <table class="table inner-table">
            <% category.responsibilities.authorized.active.each do |responsibility| %>
              <tr>
                <td title="<%= responsibility.group.logging_subject_name %>">
                  <%= responsibility.group %>
                </td>
                <td class="text-end">
                  <%= link_to tag.i('', class: 'fa fa-pencil'), edit_responsibility_path(responsibility),
                        remote: true, class: 'btn btn-sm btn-outline-primary' %>
                  <%= link_to tag.i('', class: 'fa fa-trash'), responsibility_path(responsibility),
                        method: :delete, class: 'btn btn-sm btn-outline-danger',
                        data: { confirm: t('.confirm_delete') } %>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @categories %>

<% content_for :footer do %>
  <div class="float-end">
    <%= link_to t('.new_responsibility'), new_responsibility_path, remote: true, class: 'btn btn-primary' %>
  </div>
<% end %>
