<div class="modal-dialog modal-xl">
  <%= form_for @field_service.becomes(Group), url: field_service_path(@field_service), remote: true do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <h1><%= t '.title' %></h1>
      </div>
      <div class="modal-body">
        <%= render partial: 'form', locals: { form: f, field_service: @field_service } %>
      </div>
      <div class="modal-footer">
        <%= f.submit t('action.save'), class: 'btn btn-primary offset-3 col-2' %>
        <%= f.submit t('action.save_and_close'), name: :save_and_close, class: 'btn btn-primary offset-1 col-2' %>
        <%= f.submit t('action.abort'), type: :reset, class: 'btn btn-secondary offset-1 col-2',
              'data-bs-dismiss': :modal %>
      </div>
    </div>
  <% end %>
</div>
