<div class="modal-dialog modal-xl">
  <%= form_for(@field_service, url: field_service_path(@field_service), remote: true) do |f| -%>
    <div class="modal-content">
      <div class="modal-header">
        <h1><%= Group.human_enum_name(:kind, :field_service_team) %> <%= t('edit') %></h1>
      </div>
      <div class="modal-body">
        <%= render(partial: 'form', locals: { form: f, field_service: @field_service }) %>
      </div>
      <div class="modal-footer">
        <%= f.submit t('action.save'), class: 'btn btn-primary offset-3 col-2' %>
        <%= f.submit t('action.save_and_close'), name: :save_and_close, class: 'btn btn-primary offset-1 col-2' %>
        <%= f.submit t('action.abort'), type: :reset, class: 'btn btn-secondary offset-1 col-2', 'data-dismiss': :modal %>
      </div>
    </div>
  <% end %>
</div>
