<%= render partial: 'errors', locals: { object: field_service } %>

<div class="row">
  <%= form.label :name, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.object.to_s %>
  </div>
</div>
<div class="row">
  <%= form.label :field_service_operators, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.select_many_field 'field_service_operator_ids',
          class: 'form-control', 'data-autocomplete-url': users_path, columns: 'name', object: User %>
  </div>
</div>
