<h1><%= t 'field_services.title' %></h1>

<%= paginate @field_services %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= Group.human_attribute_name :short_name %></th>
      <th scope="col"><%= Group.human_attribute_name :name %></th>
      <th scope="col"><%= Group.human_attribute_name :field_service_operators %></th>
      <th scope="col"><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @field_services.each do |fs| -%>
      <tr>
        <th scope="row"><%= fs.id %></th>
        <td><%= fs.short_name %></td>
        <td><%= fs.name %></td>
        <td><%= operators_list fs %></td>
        <td>
          <%= link_to tag.i('', class: 'fa fa-pencil'), edit_field_service_path(fs),
                remote: true, class: 'btn btn-sm btn-outline-primary' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @field_services %>

<% content_for :footer do %>
<% end %>
