<h1><%= Feedback.model_name.human(count: 2) %></h1>

<%= render partial: 'simple_text_filter' %>
<%= paginate @feedbacks %>

<table class="table">
  <thead>
    <tr>
      <% %w[id created_at issue author].each do |col| %>
        <th scope="col">
          <%= order_link Feedback.human_attribute_name(col), :feedbacks, col %>
        </th>
      <% end -%>
      <th scope="col"><%= Feedback.human_attribute_name(:message) %></th>
      <th scope="col"><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <th scope="row"><%= feedback.id %></th>
        <td><%= l(feedback.created_at) %></td>
        <td><%= link_to feedback.issue, edit_issue_path(feedback.issue), remote: true %></td>
        <td><%= feedback.author %></td>
        <td><%= feedback.message %></td>
        <td></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @feedbacks %>
