<h1><%= Feedback.model_name.human(count: 2) %></h1>

<%= render partial: 'simple_text_filter' %>
<%= paginate @feedbacks %>

<table class="table">
  <thead>
    <tr>
      <% %w[id created_at issue author].each do |col| -%>
        <th scope="col">
          <%= order_link Feedback.human_attribute_name(col), :feedbacks, col %>
        </th>
      <% end -%>
      <th scope="col"><%= Feedback.human_attribute_name(:message) %></th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| -%>
      <tr>
        <th scope="row"><%= feedback.id %></th>
        <td><%= l(feedback.created_at) %></td>
        <td>
          <%= link_to edit_issue_path(feedback.issue.id), remote: true do %>
            <%= image_tag feedback.issue.list_icon, class: "status-icon #{feedback.issue.status}",
                  title: Issue.human_enum_name(:status, feedback.issue.status) %>
            #<%= feedback.issue.id %>
          <% end -%>
        </td>
        <td><%= feedback.author %></td>
        <td><%= feedback.message %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @feedbacks %>
