<div class="row">
  <div class="col-12">
    <%= link_to edit_issue_path(issue.id), remote: true do %>
      <%= image_tag issue.list_icon, class: "status-icon #{issue.status}",
                                     title: Issue.human_enum_name(:status, issue.status) %>
      #<%= issue.id %><br>
      (<%= issue.address %>)
    <% end -%>
    <% if issue.priority_high? -%>
      <span class="float-end priority-icon fa fa-exclamation-triangle" title="<%= t('.high_priority') %>">
      </span>
    <% end -%>
    <% unless issue.trust_level_external? -%>
      <span class="float-end trust-icon fa fa-star" title="<%= t('.trust') %>">
      </span>
    <% end -%>
  </div>
</div>
