<h1><%= t(:dashboard, instance_name: Settings::Instance.name) %></h1>

<div class="row">
  <div class="col-<%= authorized?(:issues) ? 4 : 6 %>">
    <div class="card">
      <div class="card-header" id="latest-issues">
        <a class="card-collapse-link" data-bs-toggle="collapse" data-bs-target="#collapse-latest-issues" aria-expanded="true" aria-controls="collapse-latest-issues">
          <%= t('.latest_issues') %>
        </a>
      </div>
      <div id="collapse-latest-issues" class="collapse show" aria-labelledby="latest-issues">
        <div class="card-body">
          <%= render partial: 'issue', collection: @latest_issues %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-<%= authorized?(:issues) ? 4 : 6 %>">
    <div class="card">
      <div class="card-header" id="own-issues">
        <a class="card-collapse-link" data-bs-toggle="collapse" data-bs-target="#collapse-own-issues" aria-expanded="true" aria-controls="collapse-own-issues">
          <%= t('.activities_own_issues') %>
        </a>
      </div>
      <div id="collapse-own-issues" class="collapse show" aria-labelledby="own-issues">
        <div class="card-body">
          <%= render partial: 'issue', collection: @own_issues %>
        </div>
      </div>
    </div>
  </div>
  <% if authorized?(:issues) -%>
    <div class="col-4">
      <div class="card">
        <div class="card-header" id="former-issues">
          <a class="card-collapse-link" data-bs-toggle="collapse" data-bs-target="#collapse-former-issues" aria-expanded="true" aria-controls="collapse-former-issues">
            <%= t('.former_issues') %>
          </a>
        </div>
        <div id="collapse-former-issues" class="collapse show" aria-labelledby="former-issues">
          <div class="card-body">
            <% @former_issues.each do |issue| -%>
              <div class="row">
                <div class="col-12">
                  <%= image_tag issue.list_icon, class: "status-icon #{issue.status}",
                        title: Issue.human_enum_name(:status, issue.status) %>
                  #<%= issue.id %><br>
                  <%= issue.address %>
                </div>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  <% end -%>
</div>

<% if authorized?(:issues) -%>
  <% if @open_abuse_report_issues.count.positive? -%>
    <div class="row">
      <div class="col">
        <div class="card bg-warning text-white">
          <div class="card-header">
            <b><%= @open_abuse_report_issues.count %></b> <%= t '.abuse_reports', count: @open_abuse_report_issues.count %>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <% @open_abuse_report_issues.each do |issue| -%>
                  <%= link_to "##{issue.id}", edit_issue_path(issue), remote: true %>
                <% end -%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end -%>

  <% if @open_completion_issues.count.positive? -%>
    <div class="row">
      <div class="col">
        <div class="card bg-info text-white">
          <div class="card-header">
            <b><%= @open_completion_issues.count %></b> <%= t '.completions', count: @open_completion_issues.count %>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <% @open_completion_issues.each do |issue| -%>
                  <%= link_to "##{issue.id}", edit_issue_path(issue, tab: 'completion'), remote: true %>
                <% end -%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end -%>

  <% if @notices_count.positive? -%>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <b><%= @notices_count %></b> <%= t '.notices', count: @notices_count %>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <b>
                  <%= image_tag 'icons/list/png/blank-red-22px.png', title: t('.open') %>
                  <%= t('.sighted_and_assigned_since') %>
                  <i class="fa fa-times-circle-o text-warning"
                     title="<%= Issue.human_attribute_name(:responsibility_not_accepted) %>"
                     aria-hidden="true"></i>
                </b>
              </div>
              <div class="col-12">
                <% @open_not_accepted.each do |issue| -%>
                  <%= link_to "##{issue.id}", edit_issue_path(issue), remote: true %>
                <% end -%>
              </div>
            </div>

            <div class="row divider">
            </div>

            <div class="row">
              <div class="col-12">
                <b>
                  <%= image_tag 'icons/list/png/blank-yellow-22px.png',
                        title: Issue.human_enum_name(:status, :in_process) %>
                  <%= t('.unchanged_without_status_info') %>
                </b>
              </div>
              <div class="col-12">
                <% @in_process.each do |issue| -%>
                  <%= link_to "##{issue.id}", edit_issue_path(issue), remote: true %>
                <% end -%>
              </div>
            </div>

            <div class="row divider">
            </div>

            <div class="row">
              <div class="col-12">
                <b>
                  <%= image_tag 'icons/list/png/idea-red-22px.png', title: t('.open_ideas') %>
                  <%= t('.sighted_without_support') %>
                </b>
              </div>
              <div class="col-12">
                <% @open_ideas_without_min_supporters.each do |issue| -%>
                  <%= link_to "##{issue.id}", edit_issue_path(issue), remote: true %>
                <% end -%>
              </div>
            </div>

            <div class="row divider">
            </div>

            <div class="row">
              <div class="col-12">
                <b>
                  <%= sanitize t('.at_least_status_but',
                        status: (image_tag 'icons/list/png/blank-yellow-22px.png',
                          title: Issue.human_enum_name(:status, :in_process))) %>
                  <i class="fa fa-times-circle-o text-warning"
                     title="<%= Issue.human_attribute_name(:responsibility_not_accepted) %>"
                     aria-hidden="true"></i>
                </b>
              </div>
              <div class="col-12">
                <% @in_process_not_accepted.each do |issue| -%>
                  <%= link_to "##{issue.id}", edit_issue_path(issue), remote: true %>
                <% end -%>
              </div>
            </div>

            <div class="row divider">
            </div>

            <div class="row">
              <div class="col-12">
                <b>
                  <%= t('.description_not_aproved_for') %>
                  <i class="fa fa-globe"
                     title="<%= Issue.human_enum_name(:description_status, :external) %>"
                     aria-hidden="true"></i>
                </b>
              </div>
              <div class="col-12">
                <% @description_not_approved_issues.each do |issue| -%>
                  <%= link_to "##{issue.id}", edit_issue_path(issue), remote: true %>
                <% end -%>
              </div>
            </div>

            <div class="row divider">
            </div>

            <div class="row">
              <div class="col-12">
                <b>
                  <%= t('.photos_existing_but_not_aproved_for') %>
                  <i class="fa fa-globe"
                     title="<%= Issue.human_enum_name(:description_status, :external) %>"
                     aria-hidden="true"></i>
                </b>
              </div>
              <div class="col-12">
                <% @photos_not_approved_issues.each do |issue| -%>
                  <%= link_to "##{issue.id}", edit_issue_path(issue), remote: true %>
                <% end -%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end -%>
<% end -%>

<div class="row">
  <div class="col-12"><b><%= t(:statistics) %></b></div>
  <% total_count = @issues_count.values.sum -%>
  <div class="col-12">
    <table class="table statistics">
      <tr>
        <% { open: 'bar-open', in_process: 'bar-in-process', closed: 'bar-closed' }.each do |status, css_class| %>
          <% if (count = @issues_count[status]).positive? %>
            <td class="<%= css_class %>" width="<%= calc_percentage(count, total_count) %>">
              <b><%= count %></b><br>
              <b><%= Issue.human_enum_name(:status, status) %></b>
            </td>
          <% end -%>
        <% end -%>
      </tr>
    </table>
  </div>
</div>
