<h1><%= LogEntry.model_name.human(count: 2) %></h1>

<%= paginate @log_entries %>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= LogEntry.human_attribute_name :created_at %></th>
      <th scope="col"><%= LogEntry.human_attribute_name :user %></th>
      <th scope="col"><%= LogEntry.human_attribute_name :subject_name %></th>
      <th scope="col"><%= LogEntry.human_attribute_name :action %></th>
    </tr>
  </thead>
  <tbody>
    <% @log_entries.each do |log_entry| %>
      <tr>
        <td><%= l log_entry.created_at %></td>
        <td><%= log_entry.user || log_entry.auth_code %></td>
        <td><%= log_entry.subject_name %></td>
        <td><%= log_entry.action %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= paginate @log_entries %>
