<%= render partial: 'errors', locals: { object: form.object } %>
<div class="row">
  <%= form.label :user, for: :editorial_notification_user_id, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.collection_select :user_id, User.authorized, :id, :to_s, { include_blank: '' }, { class: 'form-select' } %>
  </div>
  <%= form.label :level, for: :editorial_level, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.select :level, options_for_select(levels, selected: form.object.level),
          { include_blank: '' }, { class: 'form-select' } %>
  </div>
</div>
<div class="row">
  <%= form.label :repetition, for: :editorial_repetition, class: 'col-2 col-form-label' %>
  <div class="col-4">
    <%= form.text_field :repetition, class: 'form-control', type: 'number' %>
  </div>
</div>
