<div class="card-header">
  <%= completion %>
</div>
<% if !completion.status_closed? -%>
  <div class="card-body">
    <%= completion.notice %>
    <% if completion.status_open? -%>
      <div class="row">
        <div class="col">
          <%= link_to tag.i('', class: 'fa fa-check'), completion_path(completion, completion: { status: 'closed' }),
                method: :put, remote: true, title: t('close_completion'), class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to tag.i('', class: 'fa fa-times'), '#', title: t('reject_completion'),
                id: 'rejection-link', class: 'btn btn-sm btn-outline-primary' %>
        </div>
      </div>
    <% end -%>
    <div id="completion-rejection" class="d-none">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag 'completion[status]', 'rejected' %>
      <div class="row mb-2">
        <%= label_tag :completion_notice, Completion.human_attribute_name(:notice) << ' *',
              for: "completion_notice_#{completion.id}", class: 'col-12 col-form-label' %>
        <div class="col-12">
          <%= text_area_tag 'completion[notice]', completion.notice,
                id: "completion_notice_#{completion.id}", class: 'form-control', rows: 5 %>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          Hinweis: Die eingegebene Hinweisnachricht wird an die E-Mail-Adresse des Abschlussmelders versendet.
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="float-right">
            <%= link_to t('action.save'), completion_path(completion), class: 'btn btn-sm btn-primary btn-update' %>
            <%= link_to t('action.abort'), '#', id: 'rejection-link', class: 'btn btn-sm btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end -%>
