<h1><%= Issue.model_name.human(count: 2) %></h1>
<% unless Current.user.auth_code -%>
  <div class="row">
    <div class="col-12">
      <%= link_to delegations_path(filter: { status: 0 }),
            class: "btn btn-sm btn-outline-primary#{' disabled' if @status.zero?}" do %>
        <%= image_tag icon('yellow'), class: 'status_icon' %> <%= t(:open_issues) %>
      <% end -%>
      <%= link_to delegations_path(filter: { status: 1 }),
            class: "btn btn-sm btn-outline-primary#{' disabled' if @status == 1}" do %>
        <%= image_tag icon('yellowgreen'),
              class: 'status_icon' %> <%= image_tag icon('green'), class: 'status_icon' %> <%= t(:finished_issues) %>
      <% end -%>
    </div>
  </div>
<% end -%>

<% if @issues.any? -%>
  <%= paginate @issues %>
  <table class="table">
    <thead>
      <tr>
        <% %w[id created_at category status address updated_at].each do |col| %>
          <th scope="col">
            <%= order_link Issue.human_attribute_name(col), :delegations, col %>
          </th>
        <% end -%>
        <th scope="col"><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| -%>
        <tr>
          <td><%= issue.id %></td>
          <td><%= l(issue.created_at, format: :no_seconds) %></td>
          <td><%= issue.sub_category %></td>
          <td>
            <%= image_tag issue.list_icon, class: "status-icon #{issue.status}",
                  title: Issue.human_enum_name(:status, issue.status) %>
            <%= tag.i class: 'fa fa-archive', title: Issue.human_attribute_name(:archived) if issue.archived %>
          </td>
          <td><%= issue.address %></td>
          <td><%= l(issue.updated_at, format: :no_seconds) %></td>
          <td>
            <%= link_to tag.i('', class: 'fa fa-pencil'), edit_delegation_path(issue, filter_status: @status),
                  remote: true, class: 'btn btn-sm btn-outline-primary' %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <%= paginate @issues %>
<% else -%>
  <div class="row">
    <div class="col-12">
      <%= t(:no_result) %>
    </div>
  </div>
<% end -%>

<% content_for :footer do -%>
  <% if @issues.any? -%>
    <div class="float-end">
      <%= link_to t(:show_map), delegations_path(filter: { status: @status }, show_map: true),
            class: 'btn btn-primary' %>
      <%= link_to t(:export_xlsx), delegations_path(filter: { status: @status }, format: :xlsx),
            class: 'btn btn-primary' %>
    </div>
  <% end -%>
<% end -%>
 <% if @issue -%>
  <div id="open-delegation" data-issue="<%= @issue.id %>" />
<% end -%>
<% if @edit_delegation_url -%>
  <script defer="true">
    $(function() {
      window.history.replaceState(null, null, <%= raw delegations_path(status: @status).to_json %>);
      $.ajax({ url: <%= raw @edit_delegation_url.to_json %> });
    });
  </script>
<% end -%>
