<%= form_for(@issue_email, url: issue_issue_email_path(@issue_email.issue), method: :post, remote: true) do |form| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="modal-content">
    <div class="modal-header">
      <h1><%= Issue.model_name.human %> <%= t('send_email') %></h1>
    </div>
    <div class="modal-body">
      <div class="card-header">
        <%= render partial: 'issues/head', locals: { issue: @issue_email.issue } %>
      </div>
      <div class="card-body">
        <h5><%= t('.headline') %></h5>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <%= form.label(:from, class: 'col-4 col-form-label') %>
              <div class="col-8">
                <%= form.text_field(:from, class: 'form-control') %>
              </div>
            </div>
            <div class="row">
              <%= form.label(:from_email, class: 'col-4 col-form-label') %>
              <div class="col-8">
                <%= form.text_field(:from_email, class: 'form-control') %>
              </div>
            </div>
            <div class="row">
              <%= form.label(:to_email, class: 'col-4 col-form-label') %>
              <div class="col-8">
                <%= form.text_field(:to_email, class: 'form-control') %>
              </div>
            </div>
            <div class="row">
              <%= form.label(:text, class: 'col-4 col-form-label') %>
              <div class="col-8">
                <%= form.text_area(:text, class: 'form-control') %>
              </div>
            </div>
          </div>
          <div class="col-6">
            <h6><%= t('.send_data.headline') %></h6>
            <% %i[coordinates map photos comments feedbacks abuse_reports].each do |data| %>
              <% if data != :coordinates || Settings::Instance.show_coordinates -%>
              <div class="row">
                <div class="col-12">
                  <%= form.label("send_#{data}", '', class: 'form-check-label') do %>
                    <%= form.check_box("send_#{data}", class: 'form-check form-check-inline') %>
                    <%= IssueEmail.human_attribute_name("send_#{data}") %>
                  <% end %>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= submit_tag t('action.send'), id: 'btn-send', class: 'btn btn-primary offset-3 col-2' %>
      <%= submit_tag t('action.abort'), id: 'btn-close', type: :reset, class: 'btn btn-secondary offset-1 col-2',
            'data-bs-dismiss': :modal %>
    </div>
  <% end %>
</div>
