<div class="card map-toggler">
  <div class="card-header">
    <button class="btn btn-link toggle" data-bs-toggle="collapse" data-bs-target="#collapse-menu" aria-controls="collapse">
      <i class="fa fa-map float-end"></i>
    </button>
  </div>
  <div id="collapse-menu" class="collapse">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-form-label">
          <%= label_tag 'map_view_0', '', class: 'form-check-label' do %>
            <%= radio_button_tag :map_view, 0, true, class: 'toggle-map' %>
            <%= t :city_view %>
          <% end -%>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-form-label">
          <%= label_tag 'map_view_1', '', class: 'form-check-label' do %>
            <%= radio_button_tag :map_view, 1, false, class: 'toggle-map' %>
            <%= t :aerial_view %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
