
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingJobs">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseJobs" aria-expanded="true" aria-controls="collapseJobs">
          Jobs
        </a>
      </h5>
    </div>

    <div id="collapseJobs" class="collapse" role="tabpanel" aria-labelledby="headingJobs">
      <div class="card-body">
        TODO
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingProtocols">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseProtocols" aria-controls="collapseProtocols">
          Protokolle
        </a>
      </h5>
    </div>
    <div id="collapseProtocols" class="collapse" role="tabpanel" aria-labelledby="headingProtocols">
      <div class="card-body">
        <blockquote class="blockquote">
          <p class="mb-0">E-Mail-Versand</p>
          <footer class="blockquote-footer">
            Test-E-Mail an angegebenen Empfänger senden.
          </footer>
          <%= form_tag tests_path, method: :post, remote: :true do %>
            <%= hidden_field_tag :test, :protocol_email %>
            <div class="form-group row">
              <%= label_tag :recipient, 'Empfänger', class: 'label-control col-md-2' %>
              <div class="col-md-3">
                <%= text_field_tag :recipient, '', class: 'form-control' %>
              </div>
              <div class="col-md-12">
                <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
              </div>
            </div>
          <% end -%>
        </blockquote>
      </div>
    </div>
  </div>
</div>
