<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingJobs">
      <h5 class="mb-0">
        <a data-bs-toggle="collapse" href="#collapseJobs" aria-expanded="true" aria-controls="collapseJobs">
          <%= t('.jobs') %>
        </a>
      </h5>
    </div>
    <div id="collapseJobs" class="collapse" role="tabpanel" aria-labelledby="headingJobs">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p>
            <%= t('.delete_unconfirmed_issues_job.name') %>
            <span class="text-muted"><small>
              <%= t('.delete_unconfirmed_issues_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :DeleteUnconfirmedIssuesJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.delete_unconfirmed_supporters_job.name') %>
            <span class="text-muted"><small>
              <%= t('.delete_unconfirmed_supporters_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :DeleteUnconfirmedSupportersJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.delete_unconfirmed_abuse_reports_job.name') %>
            <span class="text-muted"><small>
              <%= t('.delete_unconfirmed_abuse_reports_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :DeleteUnconfirmedAbuseReportsJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.delete_unconfirmed_completions_job.name') %>
            <span class="text-muted"><small>
              <%= t('.delete_unconfirmed_completions_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :DeleteUnconfirmedCompletionsJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.delete_unconfirmed_photos_job.name') %>
            <span class="text-muted"><small>
              <%= t('.delete_unconfirmed_photos_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :DeleteUnconfirmedPhotosJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.delete_authors_after_deadline_job.name') %>
            <span class="text-muted"><small>
              <%= t('.delete_authors_after_deadline_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :DeleteAuthorsAfterDeadlineJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.archive_closed_issues_job.name') %>
            <span class="text-muted"><small>
              <%= t('.archive_closed_issues_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :ArchiveClosedIssuesJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.inform_editorial_staff_on_issues_job.name') %>
            <span class="text-muted"><small>
              <%= t('.inform_editorial_staff_on_issues_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :InformEditorialStaffOnIssuesJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.calculate_average_turnaround_time_job.name') %>
            <span class="text-muted"><small>
              <%= t('.calculate_average_turnaround_time_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :CalculateAverageTurnaroundTimeJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.inform_on_delegated_issues_job.name') %>
            <span class="text-muted"><small>
              <%= t('.inform_on_delegated_issues_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :InformOnDelegatedIssuesJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.notify_on_issues_in_process_job.name') %>
            <span class="text-muted"><small>
              <%= t('.notify_on_issues_in_process_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :NotifyOnIssuesInProcessJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.notify_on_closed_issues_job.name') %>
            <span class="text-muted"><small>
              <%= t('.notify_on_closed_issues_job.description') %>
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :NotifyOnClosedIssuesJob %>
            <%= submit_tag t('.execute'), class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingProtocols">
      <h5 class="mb-0">
        <a class="collapsed" data-bs-toggle="collapse" href="#collapseProtocols" aria-controls="collapseProtocols">
          <%= t('.server_protocols_connections') %>
        </a>
      </h5>
    </div>
    <div id="collapseProtocols" class="collapse" role="tabpanel" aria-labelledby="headingProtocols">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p>
            <%= t('.email_dispatch') %>
            <span class="text-muted"><small><%= t('.send_email_to_recipient') %></small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :protocol_email %>
            <div class="row">
              <%= label_tag :recipient, t('.recipient'), class: 'label-control col-2' %>
              <div class="col-3">
                <%= text_field_tag :recipient, '', class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <%= submit_tag t('.send_test_email'), class: 'btn btn-sm btn-primary' %>
              </div>
            </div>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            <%= t('.ldap_login') %>
            <span class="text-muted">
              <small><%= t('.connect_to_ldap_server') %></small>
            </span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true, class: :test do %>
            <%= hidden_field_tag :test, :protocol_ldap %>
            <div class="row">
              <%= label_tag :host, t('.host'), class: 'label-control col-2' %>
              <div class="col-3">
                <%= text_field_tag :host, '', class: 'form-control' %>
              </div>
              <%= label_tag :port, t('.port'), class: 'label-control col-2' %>
              <div class="col-3">
                <%= text_field_tag :port, '', class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <%= label_tag :encryption, t('.encryption'), class: 'label-control col-2' %>
              <div class="col-3">
                <%= select_tag :encryption, options_for_select(['simple_tls']), include_blank: '',
                      class: 'form-select' %>
              </div>
            </div>
            <div class="row">
              <%= label_tag :username, t('.user_dn'), class: 'label-control col-2' %>
              <div class="col-3">
                <%= text_field_tag :username, '', class: 'form-control' %>
              </div>
              <%= label_tag :password, t('.password'), class: 'label-control col-2' %>
              <div class="col-3">
                <%= password_field_tag :password, '', class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <%= submit_tag t('.ldap_login_test'), class: 'btn btn-sm btn-primary' %>
              </div>
            </div>
          <% end -%>
        </li>
      </ul>
    </div>
  </div>
</div>
