<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingJobs">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseJobs" aria-expanded="true" aria-controls="collapseJobs">
          Jobs
        </a>
      </h5>
    </div>
    <div id="collapseJobs" class="collapse" role="tabpanel" aria-labelledby="headingJobs">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p>
            DeleteUnconfirmedIssuesJob
            <span class="text-muted"><small>
              Alle Meldungen, die gemeldet, aber nach einem bestimmten Zeitraum noch nicht bestätigt wurden, werden gelöscht.
              Ausführung täglich um *:32 Uhr.
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :DeleteUnconfirmedIssuesJob %>
            <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            DeleteUnconfirmedSupportersJob
            <span class="text-muted"><small>
              Alle Unterstützungen, die gemeldet, aber nach einem bestimmten Zeitraum noch nicht bestätigt wurden, werden gelöscht.
              Ausführung täglich um *:37 Uhr.
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :DeleteUnconfirmedSupportersJob %>
            <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            DeleteUnconfirmedAbusesJob
            <span class="text-muted"><small>
              Alle Missbrauchsmeldungen, die gemeldet, aber nach einem bestimmten Zeitraum noch nicht bestätigt wurden, werden gelöscht.
              Ausführung täglich um *:42 Uhr.
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :DeleteUnconfirmedAbusesJob %>
            <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            DeleteUnconfirmedPhotosJob
            <span class="text-muted"><small>
              Alle Photos, die gesendet, aber nach einem bestimmten Zeitraum noch nicht bestätigt wurden, werden gelöscht.
              Ausführung täglich um *:47 Uhr.
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :DeleteUnconfirmedPhotosJob %>
            <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            DeleteAuthorsAfterDeadlineJob
            <span class="text-muted"><small>
              Entfernt nach einem bestimmten Zeitraum von allen Meldungen und mit verbundenen Objekten den Autor / Absender.
              Ausführung täglich um *:52 Uhr.
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :DeleteAuthorsAfterDeadlineJob %>
            <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            ArchiveClosedIssuesJob
            <span class="text-muted"><small>
              Alle Meldungen, die abgeschlossen sind und seit einem bestimmten Zeitraum nicht mehr bearbeitet wurden, werden archiviert.
              Ausführung täglich um 00:40 Uhr.
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :ArchiveClosedIssuesJob %>
            <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            InformEditorialStaffOnIssuesJob
            <span class="text-muted"><small>
              Die Empfänger redaktioneller E-Mails werden informiert.
              Ausführung täglich um 01:40 Uhr.
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :InformEditorialStaffOnIssuesJob %>
            <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            CalculateAverageTurnaroundTimeJob
            <span class="text-muted"><small>
              Berechnet und aktualisiert die durchschnittliche Bearbeitungszeit pro Kategorie.
              Ausführung täglich um 2:00 Uhr.
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :CalculateAverageTurnaroundTimeJob %>
            <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            InformOnDelegatedIssuesJob
            <span class="text-muted"><small>
              Externe Nutzer werden mittels E-Mail über die Meldungen informiert, die innerhalb der letzten 24 Stunden an sie delegiert wurden.
              Dabei werden immer alle Meldungen berücksichtigt, deren Delegierung innerhalb der letzten 24 Stunden stattfand.
              Ausführung täglich um 07:00 Uhr.
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :InformOnDelegatedIssuesJob %>
            <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            NotifyOnIssuesInProcessJob
            <span class="text-muted"><small>
              Die Ersteller von Meldungen werden darüber informiert, dass ihre Meldungen innerhalb der letzten 24 Stunden in Bearbeitung genommen wurden.
              Dabei werden immer alle Meldungen berücksichtigt, die innerhalb der letzten 24 Stunden in Bearbeitung genommen wurden.
              Ausführung täglich um 10:05 Uhr.
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :NotifyOnIssuesInProcessJob %>
            <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            NotifyOnClosedIssuesJob
            <span class="text-muted"><small>
              Die Ersteller von Meldungen werden darüber informiert, dass ihre Meldungen innerhalb der letzten 24 Stunden abgeschlossen wurden.
              Dabei werden immer alle Meldungen berücksichtigt, die innerhalb der letzten 24 Stunden abgeschlossen wurden.
              Ausführung täglich um 10:10 Uhr.
            </small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :run_job %>
            <%= hidden_field_tag :job, :NotifyOnClosedIssuesJob %>
            <%= submit_tag 'Ausführen', class: 'btn btn-sm btn-primary' %>
          <% end -%>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingProtocols">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseProtocols" aria-controls="collapseProtocols">
          Server: Protokolle und Verbindungen
        </a>
      </h5>
    </div>
    <div id="collapseProtocols" class="collapse" role="tabpanel" aria-labelledby="headingProtocols">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p>
            E-Mail-Versand
            <span class="text-muted"><small>Sendet eine Test-E-Mail an den angegebenen Empfänger.</small></span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :protocol_email %>
            <div class="form-group row">
              <%= label_tag :recipient, 'Empfänger', class: 'label-control col-md-2' %>
              <div class="col-md-3">
                <%= text_field_tag :recipient, '', class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= submit_tag 'Test-E-Mail senden', class: 'btn btn-sm btn-primary' %>
              </div>
            </div>
          <% end -%>
        </li>
        <li class="list-group-item">
          <p>
            LDAP-Login
            <span class="text-muted">
              <small>Stellt die Verbindung zu einem LDAP-Server her, um eine Passwortüberprüfung durchzuführen.</small>
            </span>
          </p>
          <%= form_tag tests_path, method: :post, remote: true do %>
            <%= hidden_field_tag :test, :protocol_ldap %>
            <div class="form-group row">
              <%= label_tag :host, 'Host', class: 'label-control col-md-2' %>
              <div class="col-md-3">
                <%= text_field_tag :host, '', class: 'form-control' %>
              </div>
              <%= label_tag :port, 'Port', class: 'label-control col-md-2' %>
              <div class="col-md-3">
                <%= text_field_tag :port, '', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <%= label_tag :encryption, 'Encryption', class: 'label-control col-md-2' %>
              <div class="col-md-3">
                <%= select_tag :encryption, options_for_select(['simple_tls']), include_blank: true %>
              </div>
            </div>
            <div class="form-group row">
              <%= label_tag :username, 'User-DN', class: 'label-control col-md-2' %>
              <div class="col-md-3">
                <%= text_field_tag :username, '', class: 'form-control' %>
              </div>
              <%= label_tag :password, 'Passwort', class: 'label-control col-md-2' %>
              <div class="col-md-3">
                <%= password_field_tag :password, '', class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= submit_tag 'LDAP-Login testen', class: 'btn btn-sm btn-primary' %>
              </div>
            </div>
          <% end -%>
        </li>
      </ul>
    </div>
  </div>
</div>
