<div class="info card">
  <div class="card-header">
    <h5 class="card-title"><%= I18n.t('view.info.title') %></h5>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col">
        <label><%= I18n.t('view.info.version') %></label>
        <input type="text" readonly="readonly" 
               value="<%= `git rev-parse --short HEAD`.strip %> / <%= `git branch --show-current`.strip %>"
               class="form-control">
      </div>
      <div class="form-group col">
        <label><%= I18n.t('view.info.built') %></label>
        <input type="text" readonly="readonly"
               value="<%= Time.current.to_time %> / <%= `uname -n`.strip %>"
               class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label><%= I18n.t('view.info.rendered_by_host') %></label>
        <input type="text" readonly="readonly"
               value="<%= Socket.gethostname %>"
               class="form-control">
      </div>
      <div class="form-group col">
        <label><%= I18n.t('view.info.environment') %></label>
        <input type="text" readonly="readonly"
               value="<%= Rails.env %>"
               class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label><%= I18n.t('view.info.ruby_version') %></label>
        <input type="text" readonly="readonly"
               value="<%= RUBY_VERSION %>"
               class="form-control">
      </div>
      <div class="form-group col">
        <label><%= I18n.t('view.info.rails_version') %></label>
        <input type="text" readonly="readonly"
               value="<%= Rails.version %>"
               class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label><%= I18n.t('view.info.db_version') %></label>
        <input type="text" readonly="readonly"
               value="<%= ActiveRecord::Migrator.current_version %>"
               class="form-control">
      </div>
      <div class="form-group col">
      </div>
    </div>
  </div>
</div>
