<!DOCTYPE html>
<html>
  <head>
    <title>Klarschiff Backoffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <%= link_to root_url, class: 'navbar-brand' do %>
            <%= image_tag 'klarschiff.png' %>
            <%= t(:pagetitle) %>
          <% end %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <% if Current.user.present? -%>
                <li class="nav-item"><%= link_to(t('nav.dashboard'), root_url, class: 'nav-link') %></li>
                <li class="nav-item"><%= link_to(Issue.model_name.human(count: 2), issues_url, class: 'nav-link') %></li>
                <% if Current.user.admin? %>
                  <li class="nav-item dropdown">
                    <%= link_to(t('nav.administration'), '#', class: 'nav-link dropdown-toggle', 'data-toggle': 'dropdown') %>
                    <div class="dropdown-menu">
                      <%= link_to(User.model_name.human(count: 2), users_url, class: 'dropdown-item') %>
                      <%= link_to(Group.model_name.human(count: 2), groups_url, class: 'dropdown-item') %>
                      <%= link_to(LogEntry.model_name.human(count: 2), log_entries_url, class: 'dropdown-item') %>
                      <%= link_to(EditorialNotification.model_name.human(count: 2), editorial_notifications_url, class: 'dropdown-item') %>
                      <%= link_to(MailBlacklist.model_name.human(count: 2), mail_blacklists_url, class: 'dropdown-item') %>
                    </div>    
                  </li>
                <% end -%>
              <% end -%>
            </ul>
            <% unless Rails.env.production? %>
              <span class="h4 flex-grow-1 text-center mb-1">
                <span class="badge badge-warning text-uppercase"><%= Rails.env %></span>
              </span>
            <% end -%>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#" class="nav-link"><%= Current.user %></a>
              </li>
              <li class="nav-item">
                <%= link_to logins_url, class: 'nav-link', method: :delete, title: t('nav.logout') do %>
                  <i class="fa fa-sign-out"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content container">
        <%= yield %>
      </div>
      <nav class="footer">
        <div class="container">
          <%= yield :footer %>
        </div>
      </nav>
    </div>
  </body>
</html>
