<!DOCTYPE html>
<html>
  <head>
    <title>Klarschiff Backoffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <%= link_to root_url, class: 'navbar-brand' do %>
            <%= image_tag 'klarschiff.png' %>
            <%= t(:pagetitle) %>
          <% end %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <% if Current.user.present? -%>
                <li class="nav-item"><%= link_to(t('nav.dashboard'), root_url, class: 'nav-link') %></li>
                <li class="nav-item"><%= link_to(Issue.model_name.human(count: 2), issues_url, class: 'nav-link') %></li>
                <li class="nav-item"><%= link_to(Job.model_name.human(count: 2), jobs_url, class: 'nav-link') if authorized?(:jobs) %></li>
                <% if authorized?(:administration) %>
                  <li class="nav-item dropdown">
                    <%= link_to(t('nav.administration'), '#', class: 'nav-link dropdown-toggle', 'data-toggle': 'dropdown') %>
                    <div class="dropdown-menu">
                      <%= link_to(User.model_name.human(count: 2), users_url, class: 'dropdown-item') if authorized?(:manage_users) %>
                      <%= link_to(Group.model_name.human(count: 2), groups_url, class: 'dropdown-item') if authorized?(:manage_groups) %>
                      <%= link_to(Group.human_enum_name(:kind, :field_service_team), field_services_url, class: 'dropdown-item') if authorized?(:manage_field_service)%>
                      <%= link_to(Feedback.model_name.human(count: 2), feedbacks_url, class: 'dropdown-item') if authorized?(:manage_feedbacks) %>
                      <%= link_to(LogEntry.model_name.human(count: 2), log_entries_url, class: 'dropdown-item') if authorized?(:list_log_entries) %>
                      <%= link_to(EditorialNotification.model_name.human(count: 2), editorial_notifications_url, class: 'dropdown-item') if authorized?(:manage_editorial_notifications)%>
                      <%= link_to(MailBlacklist.model_name.human(count: 2), mail_blacklists_url, class: 'dropdown-item') if authorized?(:manage_mail_blacklist)%>
                    </div>    
                  </li>
                <% end -%>
              <% end -%>
            </ul>
            <% unless Rails.env.production? %>
              <span class="h4 flex-grow-1 text-center mb-1">
                <span class="badge badge-warning text-uppercase"><%= Rails.env %></span>
              </span>
            <% end -%>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= Current.user %></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <% if Current.user&.authorized?(:change_user) -%>
                    <%= link_to('Nutzerwechsel', change_user_logins_path, class: 'dropdown-item') %>
                  <% end -%>
                  <%= link_to('Info', infos_url, class: 'dropdown-item') %>
                </div>
              </li>
              <li class="nav-item">
                <%= link_to logins_url, class: 'nav-link', method: :delete, title: t('nav.logout') do %>
                  <i class="fa fa-sign-out"></i>
                <% end if Current.user.present? %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content container">
        <%= yield %>
        <div id="modal" class="modal hide fade" role="dialog" aria-hidden="true"></div>
      </div>
      <nav class="footer">
        <div class="container">
          <%= yield :footer %>
        </div>
      </nav>
    </div>
  </body>
</html>
